@use '../../front/assets/styles/commun' as commun;

.lab-anssi-demande-diagnostic-simplifiee {
  lab-anssi-bouton {
    outline: 0;
  }

  @include commun.polices-marianne('../../front/assets/fonts/');
  @include commun.titres-dsfr();
  @include commun.bouton();
  @include commun.erreur-champ-saisie();
}
