---
layout: catalogue
permalink: /catalogue/
---

<script type="module" crossorigin src="/lib-catalogue/dist/assets/index.js"></script>

<section class="chapeau">
    <h1>Les services et ressources cyber</h1>
    <p>Trouvez les services et les ressources adaptées à vos besoins et votre niveau cyber.</p>
</section>

<script type="application/json" id="donnees">
  {
      "services": [
          {% for service in site.services %}
        {
          "nom": "{{ service.nom }}",
          "illustration": "{{ service.illustration }}",
          "description": "{{ service.description }}",
          "lienInterne": "{{ service.url }}",
          "sources": {{ service.sources | jsonify }},
          "besoins": {{ service.besoins | jsonify }},
          "droitsAcces": {{ service.droitsAcces | jsonify }}
        }
          {% unless forloop.last %},{% endunless %}
          {% endfor %}
      ],
      "ressources": [
          {% for ressource in site.ressources %}
          {
              "nom": "{{ ressource.nom }}",
              "illustration": "{{ ressource.illustration }}",
              "description": "{{ ressource.description }}",
              "lienInterne": "{{ ressource.url }}",
              "sources": {{ ressource.sources | jsonify }},
              "besoins": {{ ressource.besoins | jsonify }},
              "droitsAcces": {{ ressource.droitsAcces | jsonify }}
          }
          {% unless forloop.last %},{% endunless %}
          {% endfor %}
      ]
  }
</script>

<div id="catalogue"></div>
