---
layout: parcours
permalink: /nis2/
titreHtml: "Votre entité est régulée NIS2 ? | MesServicesCyber"
---

<section class="chapeau fond-sombre nis2">
  <div class="contenu-section">
    <div class="fil-ariane">
      <a href="/">Accueil</a>
      <span><img src="/assets/images/icone-chevron-droite.svg"/> </span>
      <span>Vous accompagner avec NIS2</span>
    </div>
    <h1>Votre entité est régulée NIS2&nbsp;?</h1>
    <p>
      La directive NIS 2 vise à renforcer le niveau de cybersécurité des tissus économique et administratif des pays
      membres de l'UE. Découvrez les services et ressources proposées par l’ANSSI pour accompagner les entités régulées
      par la directive.
    </p>
  </div>
</section>

<section class="sommaire">
  <div class="contenu-section">
    <div class="groupe-boutons">
      <a href="#s-informer" class="actif bouton secondaire">S’informer</a>
      <a href="#s-enregistrer" class="bouton secondaire">S’enregistrer</a>
      <a href="#reduire-risques" class="bouton secondaire">Réduire les risques cyber</a>
      <a href="#declarer-incident" class="bouton secondaire">Déclarer un incident</a>
    </div>
  </div>
</section>

{% include action-parcours.html
id='s-informer'
titre='S’informer'
explication='Découvrez la directive et vérifiez si votre entité est concernée, grâce à notre test.'
parcours='NIS2_S_INFORMER'
%}

{% include action-parcours.html
id='s-enregistrer'
titre='S’enregistrer'
explication='Procédez à l’enregistrement de votre entité auprès de l’ANSSI.'
parcours='NIS2_S_ENREGISTRER'
fondAlternatif=true
%}

{% include action-parcours.html
id='reduire-risques'
titre='Réduire les risques cyber'
explication='Mettez en place des mesures de sécurité adaptées.'
parcours='NIS2_REDUIRE_RISQUES'
%}

{% include action-parcours.html
id='declarer-incident'
titre='Déclarer un incident'
explication='Signalez à l’ANSSI vos incidents de sécurité.'
parcours='NIS2_DECLARER_INCIDENT'
fondAlternatif=true
%}
