---
layout: parcours
permalink: /parcours-debuter/
titreHtml: "Cybersécurité : se lancer ! | MesServicesCyber"
---

<section class="chapeau fond-sombre">
  <div class="contenu-section">
    <div class="fil-ariane">
      <a href="/">Accueil</a>
      <span><img src="/assets/images/icone-chevron-droite.svg" /> </span>
      <a href="#a">Progresser en cybersécurité</a>
      <span><img src="/assets/images/icone-chevron-droite.svg" /> </span>
      <span>Cybersécurité&nbsp;: se lancer&nbsp;!</span>
    </div>
    <h1>Cybersécurité&nbsp;: se lancer&nbsp;!</h1>
    <p>
      Votre organisation souhaite mettre en œuvre des premières actions
      concrètes pour commencer à renforcer son niveau de cybersécurité.
      Découvrez des services et ressources sélectionnés par l’ANSSI pour vous
      aider.
    </p>
    <div class="cta">
      <p>Trouvez le parcours cyber adapté à votre organisation</p>
      <a href="/test-maturite" class="bouton primaire">Testez votre maturité</a>
    </div>
  </div>
</section>

<section class="sommaire">
    <div class="contenu-section">
        <div class="groupe-boutons">
            <a href="#sensibiliser" class="actif bouton secondaire">Sensibiliser</a>
            <a href="#securiser" class="bouton secondaire">Sécuriser</a>
            <a href="#etre-accompagne" class="bouton secondaire">Être accompagné</a>
        </div>
    </div>
</section>

{% include action-parcours.html
id='sensibiliser'
titre='Sensibiliser'
explication='Commencez à sensibiliser les dirigeants et salariés aux risques cyber et aux bonnes
pratiques.'
parcours='DEBUTER_SENSIBILISER'
%}

{% include action-parcours.html
id='securiser'
titre='Sécuriser'
explication='Mettez en œuvre rapidement des premières mesures de sécurité et réduisez les vulnérabilités de vos systèmes.'
parcours='DEBUTER_SECURISER'
fondAlternatif=true
%}

{% include action-parcours.html
id='etre-accompagne'
titre='Être accompagné'
explication='Faites-vous accompagner par un prestataire de proximité.'
parcours='DEBUTER_ETRE_ACCOMPAGNE'
%}

{% include encart-test-maturite.html fond='sombre' %}