---
layout: parcours
---
<section class="titres-page">
    <div class="contenu-section">
        <h1>MesServicesCyber</h1>
        <h2>Innovation ANSSI</h2>
    </div>
</section>

<section class="chapeau fond-sombre">
    <div class="contenu-section">
        <div class="fil-ariane">
            <a href="/">Accueil</a>
            <span><img src="/assets/images/icone-chevron-droite.svg"/> </span>
            <a href="#">Progresser en cybersécurité</a>
            <span><img src="/assets/images/icone-chevron-droite.svg"/> </span>
            <span>Cybersécurité&nbsp;: se lancer !</span>
        </div>
        <h1>Cybersécurité&nbsp;: se lancer !</h1>
        <p>
            Votre organisation souhaite mettre en œuvre des premières actions concrètes pour commencer à renforcer son
            niveau de cybersécurité. Découvrez des services et ressources sélectionnés par l’ANSSI pour vous aider.
        </p>
        <div class="cta">
            <p>Trouvez le parcours cyber adapté à votre organisation</p>
            <a href="/test" class="bouton primaire">Testez votre maturité</a>
        </div>
    </div>
</section>

<section class="sommaire">
    <div class="contenu-section">
        <div class="groupe-boutons">
            <a href="#sensibiliser" class="actif bouton secondaire">Sensibiliser</a>
            <a href="#securiser" class="bouton secondaire">Sécuriser</a>
            <a href="#etre-accompagne" class="bouton secondaire">Être accompagné</a>
        </div>
    </div>
</section>

<section id="sensibiliser" class="action">
    <div class="contenu-section">
        <h1>Sensibiliser</h1>
        <p class="explication">Commencez à sensibiliser les dirigeants et salariés aux risques cyber et aux bonnes
            pratiques.</p>
        <img class="illustration" src="/assets/images/illustration-sensibiliser.svg"/>
        <h2>Les services et ressources</h2>
        {% include services-ressources.html parcours='DEBUTER_SENSIBILISER' %}
    </div>
</section>

<section id="securiser" class="action fond-alternatif">
    <div class="contenu-section">
        <h1>Sécuriser</h1>
        <p class="explication">Mettez en œuvre rapidement des premières mesures de sécurité et réduisez les vulnérabilités de vos systèmes.</p>
        <img class="illustration" src="/assets/images/illustration-securiser.svg"/>
        <h2>Les services et ressources</h2>
        {% include services-ressources.html parcours='DEBUTER_SECURISER' %}
    </div>
</section>

<section id="etre-accompagne" class="action">
    <div class="contenu-section"></div>
</section>