<section id="{{include.id}}" class="action {% if include.fondAlternatif %} fond-alternatif{% endif %}">
    <div class="contenu-section">
        <div class="description">
            <h1>{{include.titre}}</h1>
            <p class="explication">{{include.explication}}</p>
            <img class="illustration" src="/assets/images/illustration-{{include.id}}.svg"/>
        </div>
        <h2>Les services et ressources</h2>
        {% for idItem in include.items %}
            {% for cle in idItem %}
                {% if cle[0] %}
                    {% assign id = cle[0]%}
                    {% assign nomPerso = cle[1].nom %}
                    {% assign descriptionPerso = cle[1].description %}
                    {% assign tags = cle[1].tags %}
                {% else %}
                    {% assign id = cle %}
                    {% assign nomPerso = nil %}
                    {% assign descriptionPerso = nil %}
                    {% assign tags = nil %}
                {% endif %}
            {% endfor %}
            {% assign tous_les_items = site.services | concat: site.ressources %}
            {% assign item = tous_les_items | where: "id", id | first %}
            {% include carte-item.html
                item=item
                nomPerso=nomPerso
                descriptionPerso=descriptionPerso
                tagsSpecifiques=tags
            %}
        {% endfor %}
    </div>
</section>
