<header id="haut-de-page">
  <div class="contenu-section">
    <a href="/">
      <img
        src="/assets/images/marianne-dark.svg"
        class="marianne"
        alt="Marianne"
      />
    </a>
    <button class="ouverture-menu" id="menu-mobile-ouvrir">
      <img src="/assets/images/icone-menu.svg" alt="Menu burger" />
    </button>

    <div class="menu-mobile invisible" id="menu-mobile">
      <a class="fermer" id="menu-mobile-fermer">Fermer</a>
      <div class="choix">
        <a href="/" {% if page.url == '/' %} class="actif" {% endif %}>Accueil</a>
        <a href="/catalogue/" {% if page.url == '/catalogue/' %} class="actif" {% endif %}>Consulter le catalogue de services</a>
        <a href="/test-maturite/" {% if page.url == '/test-maturite/' %} class="actif" {% endif %}>Tester votre maturité cyber</a>
        <details>
          <summary>Progresser en cybersécurité</summary>

          <a href="/parcours-debuter/" {% if page.url == '/parcours-debuter/' %} class="actif" {% endif %}>Cybersécurité : se lancer !</a>
          <a href="/parcours-approfondir/" {% if page.url == '/parcours-approfondir/' %} class="actif" {% endif %}>Cybersécurité : approfondir !</a>
        </details>
      </div>
    </div>
  </div>
</header>
