<header id="haut-de-page">
  <div class="contenu-section">
    <a href="/">
      <img
        src="/assets/images/marianne-dark.svg"
        class="marianne"
        alt="Marianne"
      />
    </a>
    <button class="ouverture-menu" id="menu-mobile-ouvrir">
      <img src="/assets/images/icone-menu.svg" alt="Menu burger" />
    </button>

    <div class="menu-mobile invisible" id="menu-mobile">
      <a class="fermer" id="menu-mobile-fermer">Fermer</a>

      <div class="choix">
        <a href="/">Accueil</a>
        <a href="/catalogue/">Consulter le catalogue de services</a>
        <a href="/test-maturite/">Tester votre maturité cyber</a>
      </div>
    </div>
  </div>
</header>
