<script type="application/json" id="donnees">
  {
    "itemsCyber": [
      {% assign items = site.services | concat: site.ressources %}
      {% for item in items %}
      {
        "id": "{{ item.id }}",
        "nom": "{{ item.nom }}",
        "typologie": "{{ item.typologie }}",
        "illustration": "{{ item.illustration }}",
        "description": "{{ item.description }}",
      {% if service.avecFicheDetaillee %} "lienInterne": "{{ item.url }}", {% endif %}
      "lienExterne": "{{ item.lien }}",
      "sources": {{ item.sources | jsonify }},
      "besoins": {{ item.besoins | jsonify }},
      "droitsAcces": {{ item.droitsAcces | jsonify }}{% if item.typologie == 'ressource'%},
      "format": "{{ item.format }}"
      {% endif %}
    }
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
    ],
    "repartition": {
      "REAGIR": [],
      "SE_FORMER": [],
      "SECURISER": [],
      "ETRE_SENSIBILISE": []
    }
  }
</script>