---
---

dsfr-container {
  .contenu-section {
    margin: 6rem 0;

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    dsfr-button {
      margin-bottom: 1.5rem;
    }
  }
}
