---
---

@use '../../assets/styles/responsive' as *;

.chapeau.fond-sombre {
  padding: 48px var(--gouttiere);
  .contenu-section {
    display: flex;
    flex-direction: column;
    gap: 32px;

    hgroup {
      h1 {
        margin-bottom: 8px;
      }
      .texte-chapo-xl {
        margin-bottom: 0;
      }
    }
    .texte-detail-sm {
      margin-bottom: 0;
    }
  }
}

.organisations-concernees {
  padding: 56px var(--gouttiere);
  .contenu-section {
    display: flex;
    flex-direction: column;
    gap: 72px;

    .toutes-organisations {
      text-align: center;
      display: flex;
      flex-direction: column;
      hgroup {
        h2 {
          margin-bottom: 16px;
        }
      }
      img {
        margin-bottom: 24px;
      }
      lab-anssi-lien {
        color: #666;
        margin-bottom: 0;
      }
    }

    .demande-diag {
      background-color: #fef6e3;
      border-radius: 8px;
      height: 420px;
    }

    .acces-catalogue {
      display: flex;
      flex-direction: column;

      h2 {
        text-align: center;
        margin-bottom: 72px;
      }

      .selections {
        .texte-detail-sm {
          color: #3a3a3a;
          margin-bottom: 16px;
        }

        lab-anssi-carrousel-tuiles {
          min-width: 794px;

          > dsfr-card {
            flex: 0 0 254px;
            scroll-snap-align: center;
            @include a-partir-de(md) {
              width: auto;
              flex: 1;
            }
          }
        }
      }
      .texte-chapo-xl {
        color: #3a3a3a;
        text-align: center;
      }

      lab-anssi-lien {
        align-self: center;
        margin-block: 24px;
      }
    }
  }
}

.test-maturite {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  padding: 56px var(--gouttiere) 72px;
  gap: 24px;
  background: #f6f6f6;

  .recapitulatif {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    overflow: clip;

    lab-anssi-lien {
      margin-bottom: 24px;
    }

    #lien-session-groupe {
      white-space: nowrap;
    }

    .texte-mention-xs {
      color: #666;
    }
  }

  .barometre {
    padding: 24px;
    background-color: white;
    border: solid 1px #ddd;

    hgroup {
      h6 {
        margin-bottom: 0;
      }
    }
  }
}

.interlocuteurs {
  padding: 56px var(--gouttiere);

  h2 {
    text-align: center;
  }

  lab-anssi-carrousel-tuiles {
    margin-top: 24px;
    min-width: 794px;

    dsfr-tile {
      flex: 0 0 254px;
      scroll-snap-align: center;
      @include a-partir-de(md) {
        width: auto;
        flex: 1;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}
