---
---

@use '../../assets/styles/responsive' as *;
@use '../../assets/styles/grille' as *;

.chapeau.fond-sombre {
  padding: 48px var(--gouttiere);
  .contenu-section {
    display: flex;
    flex-direction: column;
    gap: 32px;

    hgroup {
      h1 {
        margin-bottom: 8px;
      }
      .texte-chapo-xl {
        margin-bottom: 0;
      }
    }
    .texte-detail-sm {
      margin-bottom: 0;
    }

    img {
      aspect-ratio: 16 /9;
      @include a-partir-de(md) {
        align-self: center;
        max-width: taille-pour-colonnes(10);
      }
    }
  }
}

.organisations-concernees {
  padding: 56px var(--gouttiere);
  .contenu-section {
    display: flex;
    flex-direction: column;
    gap: 72px;

    .toutes-organisations {
      text-align: center;
      display: flex;
      flex-direction: column;

      @include a-partir-de(md) {
        align-self: center;
        max-width: taille-pour-colonnes(10);
      }

      hgroup {
        h2 {
          margin-bottom: 16px;
        }
      }
      img {
        margin-bottom: 24px;
        @include a-partir-de(md) {
          align-self: center;
          max-width: taille-pour-colonnes(10);
        }
      }
      lab-anssi-lien {
        color: #666;
        margin-bottom: 0;
      }
    }

    .demande-diag {
      background-color: var(--jaune-clair-msc);
      border-radius: 8px;
      height: 420px;
    }

    .acces-catalogue {
      display: flex;
      flex-direction: column;

      h2 {
        text-align: center;
        margin-bottom: 72px;
      }

      .selections {
        .texte-detail-sm {
          color: #3a3a3a;
          margin-bottom: 16px;
        }

        lab-anssi-carrousel-tuiles {
          min-width: 794px;

          > dsfr-card {
            flex: 0 0 254px;
            scroll-snap-align: center;
            @include a-partir-de(md) {
              width: auto;
              flex: 1;
            }
          }
        }
      }
      .texte-chapo-xl {
        color: #3a3a3a;
        text-align: center;
      }

      lab-anssi-lien {
        align-self: center;
        margin-block: 24px;
      }
    }
  }
}

.test-maturite {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  padding: 56px var(--gouttiere) 72px;
  gap: 24px;
  background: #f6f6f6;

  .recapitulatif {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    overflow: clip;

    lab-anssi-lien {
      margin-bottom: 24px;
      align-self: start;
    }

    #lien-session-groupe {
      white-space: nowrap;
    }

    .texte-mention-xs {
      color: #666;
    }
  }

  .barometre {
    padding: 24px;
    background-color: white;
    border: solid 1px #ddd;

    hgroup {
      h6 {
        margin-bottom: 0;
      }
    }
  }
}

.interlocuteurs {
  padding: 56px var(--gouttiere);

  h2 {
    text-align: center;
    margin-bottom: 48px;
  }

  lab-anssi-carrousel-tuiles {
    margin-top: 24px;
    min-width: 794px;

    dsfr-tile {
      flex: 1 0 254px;
      scroll-snap-align: center;

      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.equipe-bizdev {
  background-color: var(--jaune-clair-msc);
  padding: 56px var(--gouttiere);

  .contenu-section {
    display: grid;
    grid-template-areas: 'titre' 'contenu' 'bouton' 'photos';
    @include a-partir-de(lg) {
      grid-template-areas: 'titre photos' 'contenu photos' 'bouton photos';
      grid-template-columns: 2fr 1fr;
    }
  }

  .photos {
    grid-area: photos;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-self: center;

    img {
      width: 164px;
      height: 164px;
      border-radius: 50%;
      border: 6px solid white;

      &:first-of-type {
        margin-right: -20px;
      }

      &:last-of-type {
        margin-left: -20px;
      }
    }
  }

  h2 {
    grid-area: titre;
    margin-bottom: 12px;
  }

  p {
    grid-area: contenu;
    margin: 0 0 32px;
  }

  lab-anssi-lien {
    grid-area: bouton;
    justify-self: flex-start;
    margin: 0 0 32px;
  }
}

.communaute-msc {
  padding: 56px var(--gouttiere);
  .contenu-section {
    display: grid;
    grid-template-areas:
      'titre'
      'contenu'
      'bouton'
      'illustration';

    @include a-partir-de(lg) {
      grid-template-areas:
        'illustration titre'
        'illustration contenu'
        'illustration bouton';
      grid-auto-columns: 384px auto;
    }

    h2 {
      margin-bottom: 12px;
    }

    .contenu {
      grid-area: contenu;
      margin-bottom: 32px;

      ul {
        padding-left: 24px;
        margin: 0;
      }
    }

    img {
      margin: 32px 0 16px;
      width: 100%;
      grid-area: illustration;
      @include a-partir-de(md) {
        justify-self: center;
        max-width: taille-pour-colonnes(10);
      }
    }

    lab-anssi-lien {
      grid-area: bouton;
      justify-self: start;
    }
  }
}

.partenaires {
  background-color: #f6f6f6;
  padding: 56px var(--gouttiere);
  .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 24px;
    gap: 48px;
  }
}

.anssi {
  padding: 72px var(--gouttiere);
  .contenu-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    .contenu-anssi {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include a-partir-de(md) {
        max-width: taille-pour-colonnes(10);
      }

      h2 {
        margin-bottom: 16px;
      }

      .logo {
        margin-bottom: 24px;
        width: 140px;
        height: 140px;
      }
    }
  }

  .bouton.secondaire {
    display: flex;
    padding: 8px 12px 8px 16px;
    font-size: 1rem;
    line-height: 1.5rem;
    border-color: var(--noir);
    gap: 8px;
    margin: 0 0 16px;
  }
}
