---
---

@use '../../assets/styles/responsive' as *;
@use '../../assets/styles/grille' as *;

.chapeau.fond-sombre {
  padding: 48px var(--gouttiere);
  .contenu-section {
    display: grid;
    grid-template-areas:
      'titre'
      'demande'
      'illustration'
      'mention';

    @include a-partir-de(lg) {
      grid-template-areas:
        'titre illustration'
        'demande illustration'
        'mention illustration';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto 1fr;
    }
    gap: 24px 32px;

    hgroup {
      grid-area: titre;
      @include a-partir-de(lg) {
        align-self: end;
      }
      h1 {
        margin-bottom: 8px;
      }
      .texte-chapo-xl {
        margin-bottom: 0;
      }
    }

    .actions {
      grid-area: demande;
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include a-partir-de(md) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .bouton.secondaire {
        width: auto;
      }
    }

    .texte-detail-sm {
      grid-area: mention;
      margin-bottom: 0;
    }

    img {
      grid-area: illustration;
      aspect-ratio: 16 /9;
      width: 100%;
      justify-self: center;
      transform: scaleX(-1);
      @include a-partir-de(md) {
        align-self: center;
        max-width: taille-pour-colonnes(10);
      }
      @include a-partir-de(lg) {
        max-width: none;
      }
    }
  }
}

.organisations-concernees {
  padding: 56px var(--gouttiere);
  .contenu-section {
    display: flex;
    flex-direction: column;
    gap: 72px;

    .toutes-organisations {
      text-align: center;
      display: flex;
      flex-direction: column;

      @include a-partir-de(md) {
        align-self: center;
        max-width: taille-pour-colonnes(10);
      }

      @include a-partir-de(lg) {
        max-width: taille-pour-colonnes(7);
      }

      hgroup {
        h2 {
          margin-bottom: 16px;
        }
      }
      img {
        margin-bottom: 24px;
        @include a-partir-de(md) {
          align-self: center;
          max-width: taille-pour-colonnes(10);
        }
      }
      lab-anssi-lien {
        color: #666;
        margin-bottom: 0;
      }
    }

    .demande-diag {
      background-color: var(--jaune-clair-msc);
      border-radius: 8px;
      height: 420px;
    }

    .acces-catalogue {
      display: flex;
      flex-direction: column;

      @include a-partir-de(lg) {
        align-self: center;
        max-width: taille-pour-colonnes(10);
      }

      h2 {
        text-align: center;
        margin-bottom: 72px;
      }

      .selections {
        .texte-detail-sm {
          color: #3a3a3a;
          margin-bottom: 16px;
        }

        lab-anssi-carrousel-tuiles {
          min-width: 794px;

          > dsfr-card {
            flex: 0 0 254px;
            scroll-snap-align: center;
            @include a-partir-de(md) {
              width: auto;
              flex: 1;
            }
          }
        }
      }
      .texte-chapo-xl {
        color: #3a3a3a;
        text-align: center;

        @include a-partir-de(lg) {
          align-self: center;
          max-width: 80%;
        }
      }

      lab-anssi-lien {
        align-self: center;
        margin-block: 24px;
      }
    }
  }
}

.test-maturite {
  padding: 72px var(--gouttiere) 72px;
  background: #f6f6f6;

  .contenu-section {
    display: flex;
    flex-direction: column;
    align-self: stretch;

    @include a-partir-de(lg) {
      gap: 24px;
      flex-direction: row;
    }

    .recapitulatif {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      overflow: clip;

      @include a-partir-de(lg) {
        width: 50%;
      }

      lab-anssi-lien {
        margin-bottom: 24px;
        align-self: start;
      }

      #lien-session-groupe {
        white-space: nowrap;
      }

      .texte-mention-xs {
        color: #666;
      }
    }

    .barometre {
      padding: 24px;
      background-color: white;
      border: solid 1px #ddd;

      @include a-partir-de(lg) {
        width: 50%;
      }

      hgroup {
        h6 {
          margin-bottom: 0;
        }
      }
    }
  }
}

.interlocuteurs {
  padding: 56px var(--gouttiere);

  .contenu-interlocuteurs {
    @include a-partir-de(lg) {
      max-width: taille-pour-colonnes(10);
      margin-inline: auto;
    }

    h2 {
      text-align: center;
      margin-bottom: 48px;
    }

    lab-anssi-carrousel-tuiles {
      margin-top: 24px;
      min-width: 794px;

      dsfr-tile {
        flex: 1 0 254px;
        scroll-snap-align: center;
        @include a-partir-de(lg) {
          flex: 1 0 241px;
        }
        img {
          width: 80px;
          height: 80px;
        }
      }
    }
  }
}

.equipe-bizdev {
  background-color: var(--jaune-clair-msc);
  padding: 56px var(--gouttiere);

  .contenu-section {
    display: grid;
    grid-template-areas: 'titre' 'contenu' 'bouton' 'photos';
    @include a-partir-de(lg) {
      grid-template-areas: 'titre photos' 'contenu photos' 'bouton photos';
      grid-template-columns: 2fr 1fr;
    }
  }

  .photos {
    grid-area: photos;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-self: center;

    img {
      width: 164px;
      height: 164px;
      border-radius: 50%;
      border: 6px solid white;

      &:first-of-type {
        margin-right: -20px;
      }

      &:last-of-type {
        margin-left: -20px;
      }
    }
  }

  h2 {
    grid-area: titre;
    margin-bottom: 12px;
  }

  p {
    grid-area: contenu;
    margin: 0 0 32px;
  }

  lab-anssi-lien {
    grid-area: bouton;
    justify-self: flex-start;
    margin: 0 0 32px;
  }
}

.communaute-msc {
  padding: 56px var(--gouttiere);
  .contenu-section {
    display: grid;
    grid-template-areas:
      'titre'
      'contenu'
      'bouton'
      'illustration';

    @include a-partir-de(lg) {
      grid-template-areas:
        'illustration titre'
        'illustration contenu'
        'illustration bouton';
      grid-auto-columns: taille-pour-colonnes(4) auto;
      gap: 0 32px;
    }

    h2 {
      margin-bottom: 12px;
    }

    .contenu {
      grid-area: contenu;
      margin-bottom: 32px;

      ul {
        padding-left: 24px;
        margin: 0;
      }
    }

    img {
      margin: 32px 0 16px;
      width: 100%;
      grid-area: illustration;
      @include a-partir-de(md) {
        justify-self: center;
        max-width: taille-pour-colonnes(10);
      }
      @include a-partir-de(lg) {
        align-self: center;
        max-width: 288px;
      }
    }

    lab-anssi-lien {
      grid-area: bouton;
      justify-self: start;
    }
  }
}

.partenaires {
  background-color: #f6f6f6;
  padding: 56px var(--gouttiere);
  .logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-block: 48px 24px;
    gap: 48px;

    @include a-partir-de(lg) {
      gap: 0;
      justify-content: space-between;
    }
  }
}

.anssi {
  padding: 72px var(--gouttiere);
  .contenu-section {
    display: flex;
    align-items: center;
    flex-direction: column;

    .contenu-anssi {
      display: grid;
      grid-template-areas:
        'illustration'
        'titre'
        'description'
        'lien';
      place-items: center;
      text-align: center;

      @include a-partir-de(md) {
        max-width: taille-pour-colonnes(10);
      }
      @include a-partir-de(lg) {
        grid-template-areas:
          'titre illustration'
          'description illustration'
          'lien illustration';
        grid-template-columns: auto 40%;
        place-items: flex-start;
        text-align: left;
      }
      h2 {
        grid-area: titre;
        margin-bottom: 16px;
      }

      .texte-standard-md {
        grid-area: description;
      }

      .logo {
        grid-area: illustration;
        margin-bottom: 24px;
        width: 140px;
        height: 140px;

        @include a-partir-de(lg) {
          place-self: center;
          margin-bottom: 0;
        }
      }

      .bouton.secondaire {
        grid-area: lien;
        display: flex;
        padding: 8px 12px 8px 16px;
        font-size: 1rem;
        line-height: 1.5rem;
        border-color: var(--noir);
        gap: 8px;
        margin: 0 0 16px;
      }
    }
  }
}
