---
---

@use "../../assets/styles/responsive" as *;

#catalogue {
  display: flex;
  flex-direction: column;
  position: relative;
}

.chapeau.fond-sombre {
  padding-bottom: 80px;
  p {
    margin-bottom: 24px;
  }
}

.barre-filtre-besoin {
  display: none;
  position: relative;
  top: -80px;
  margin-bottom: -80px;
  margin-left: 24px;
  margin-right: 24px;

  @include a-partir-de(lg) {
    display: block;
  }

  @include a-partir-de(xl) {
    margin-left: var(--gouttiere);
    margin-right: var(--gouttiere);
  }
}

.choix-filtre-besoin {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @include a-partir-de(lg) {
    flex-direction: row;
    gap: 0;
    height: 160px;
  }

  label {
    border: 1px solid var(--gris-clair);
    border-radius: 8px;
    text-transform: uppercase;
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: white;

    &:hover {
      background: var(--controle-segmente-fond-hover);
    }

    &:active {
      background: var(--controle-segmente-fond-clique);
    }

    @include a-partir-de(md) {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    @include a-partir-de(lg) {
      border-radius: 0;
      border-right-style: none;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-weight: bold;

      &:first-of-type {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      &:last-of-type {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-right: 1px solid var(--gris-clair);
      }

      span {
        @include a-partir-de(lg) {
          width: 200px;
        }
      }
    }

    &.actif {
      background: #fff7db;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    }

    img {
      width: 48px;
      height: 48px;

      @include a-partir-de(lg) {
        width: 80px;
        height: 80px;
      }
    }

    input {
      appearance: none;
      width: 1px;
    }
  }
}

.barre-filtres {
  display: flex;
  flex-direction: column;
  width: 100%;

  fieldset {
    margin: 0 0 32px;
    padding: 0 0 32px;
    border: none;
    border-bottom: 1px solid #d9dadb;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    legend {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0;
      margin-bottom: 16px;
    }

    label {
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;

      .libelle {
        display: flex;
        gap: 8px;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
          filter: brightness(0) saturate(100%);
        }
      }

      .compte {
        margin-left: auto;
        color: #939699;
        font-size: 0.75rem;
        line-height: 1rem;
      }

      input[type="checkbox"] {
        appearance: none;
        border: 1px solid var(--noir);
        border-radius: 4px;
        width: 24px;
        height: 24px;
        margin: 0;
        cursor: pointer;

        &:checked {
          background-color: var(--jaune-msc);

          &::before {
            content: "";
            display: block;
            margin: auto;
            width: 6px;
            height: 12px;
            border-right: 2px var(--noir) solid;
            border-bottom: 2px var(--noir) solid;
            transform: translateY(2px) rotate(0.12turn);
          }
        }

        &:indeterminate {
          /* Ce style est prévu pour être cumulatif avec l'état coché */
          &::before {
            width: 9px;
            height: 10px;
            border-right: none;
            transform: none;
          }
        }
      }
    }

    fieldset {
      box-sizing: border-box;
      padding: 0 0 0 16px;
      border: none;
      margin: 0;
    }
  }
}

.contenu-catalogue {
  .contenu-section {
    display: flex;
    flex-direction: column;
    @include a-partir-de(lg) {
      flex-direction: row;
      gap: 24px;
    }
  }
  & {
    padding: 32px var(--gouttiere) 80px;
  }
}

.barre-recherche-mobile {
  .contenu-section {
    padding: 32px var(--gouttiere) 0;
    box-sizing: border-box;
  }
  @include a-partir-de(lg) {
    display: none;
  }
}

.grille {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  width: 100%;
  box-sizing: border-box;
  column-gap: 24px;
  align-content: flex-start;

  .sommaire-deplie {
    /*
    Lorsqu’il y a des lignes implicites générées par l’auto-fill du repeat, il n’est pas possible
    d’utiliser la ligne -1 comme ligne de fin pour réaliser un span sur toute la hauteur des lignes.
    Mettre 100 lignes (valeur très arbitraire mais suffisante pour le moment) permet de résoudre ce
    problème.
    Cependant, il y a un problème induit puisque cela génère virtuellement  100 lignes. En soit, cela
    ne pose pas de souci puisque les lignes ont une hauteur nulle. Mais les gap restent entre les lignes
    et créent un espace blanc non désiré. C’est pour cette raison qu’on utilise ici un column-gap entre
    les colonnes et un margin-bottom sur les cartes à la place d’un simple gap: 24px.
    */
    grid-row: 1 / 100;
  }

  .carte {
    margin-bottom: 24px;
  }

  .aucun-resultat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    text-align: center;

    @include a-partir-de(lg) {
      padding-top: 40px;
      grid-column-start: 2;
    }

    h1 {
      font-size: 1.8rem;
      line-height: 2rem;
    }

    img {
      height: 250px;
    }

    .bouton {
      width: fit-content;
      padding: 10px 24px;
    }
  }
}

.sommaire-replie {
  .choix-filtre-besoin {
    margin: 24px 0;
  }
}

.sommaire-deplie {
  display: none;
  @include a-partir-de(lg) {
    display: flex;
    flex-direction: column;
  }

  .entete-filtres {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
    font-size: 0.875rem;
    line-height: 1.25rem;

    img {
      width: 16px;
      height: 16px;
    }

    .chevron {
      @include a-partir-de(lg) {
        display: none;
      }
    }
  }
}

.carte.service,
.carte.ressource {
  display: flex;
  flex-direction: column;
  width: auto;
}

.carte.service.lien-externe-produit > * {
  pointer-events: none;
}

.encart.fond-clair {
  background: white;

  h1 {
    margin-bottom: 48px;
  }

  @include a-partir-de(lg) {
    padding: 72px var(--gouttiere);
  }

  .carte.parcours {
    box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);
  }
}