---
---

@use '../../assets/styles/responsive' as *;

section.connexion {
  padding: 48px 16px;
  text-align: center;

  @include a-partir-de(lg) {
    padding: 0;
  }

  .contenu-principal {
    display: flex;
    justify-content: center;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      h1 {
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
      }

      .conteneur-proconnect {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
      }

      @include a-partir-de(md) {
        max-width: 544px;

        h1 {
          font-size: 40px;
          line-height: 48px;
        }
      }
    }
  }

  .contenu-secondaire {
    display: none;
  }

  @include a-partir-de(lg) {
    .contenu-section {
      display: flex;
      flex-direction: row;
      margin: 0;
      max-width: unset;

      .contenu-principal {
        flex: 1 0 0;
        align-self: stretch;
        justify-content: center;
        align-items: center;
        padding: 178px 0;
      }

      .contenu-secondaire {
        flex: 1 0 0;
        background: #0d0c21
          url('/assets/images/motif-fond-service-opacite-16.png');
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
          max-width: 100%;
          max-height: 420px;
          margin: 24px;
        }
      }
    }
  }
}

.proconnect-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.proconnect-button {
  background-color: transparent !important;
  background-image: url('/assets/images/pro_connect.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 214px;
  height: 56px;
  border: none;
}

.proconnect-button:hover {
  background-image: url('/assets/images/pro_connect_hover.svg');
}

.deja-un-compte,
.pas-de-compte {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  @include a-partir-de(sm) {
    flex-direction: row;
    gap: 8px;
  }
}
