---
---

@use '../../assets/styles/responsive' as *;

.connexion {
  .contenu-secondaire {
    background: var(--artwork-major-blue-france) !important;
  }
  @include a-partir-de(lg) {
    .contenu-section {
      .contenu-secondaire {
        img {
          max-height: 560px;
          margin: auto;
        }
      }
    }
  }
}
