---
---

@import 'responsive';

.chapeau.fond-sombre.chapeau-page-statique {
  padding: 32px var(--gouttiere);

  .contenu-section {
    h1 {
      margin: 0 0 8px;
    }

    p {
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 16px;
    }
  }
}

.contenu-page-statique {
  padding: 24px var(--gouttiere);

  .contenu-section {
    @include a-partir-de(lg) {
      --largeur-max-contenu: 996px;
    }

    p:first-of-type {
      margin-top: 0;
    }

    a {
      display: inline-flex;
      color: #000091;
      border: none;
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-thickness: 1px;

      &:hover {
        text-decoration-thickness: 2px;
      }

      &[target='_blank']::after {
        display: none;
      }
    }

    h2 {
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin: 32px 0 16px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    table {
      thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      tr {
        display: block;
        border: 1px solid #929292;
        border-bottom: none;
        margin-bottom: 16px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          background-color: #3a3a3a;
          top: 0;
          left: 50%;
          height: 100%;
          width: 1px;
        }
      }

      td {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 8px 16px;
        column-gap: 32px;
        border-bottom: 1px solid #929292;
        font-size: 0.875rem;
        line-height: 1.5rem;

        &:before {
          content: attr(data-label);
          font-weight: bold;
          align-self: center;
        }
      }
    }
  }
}
