---
---

@use '../../assets/styles/responsive' as *;

.prestataires-qualifies {
  padding: 48px var(--gouttiere) 72px;
  .contenu-section {
    display: grid;
    gap: 24px;
    flex: 1 0 0;
    grid-template-columns: 1fr;
    margin-bottom: auto;

    @include a-partir-de(sm) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    a.carte {
      .contenu {
        .labels {
          span {
            color: #666;
            background-color: transparent;
          }
        }
      }
    }
  }
}
