---
---

@use '../../assets/styles/responsive' as *;

.chapeau {
  background: #f4f4f4 url('/assets/images/motif-fond-service.png');
  padding: 24px var(--gouttiere);

  .contenu-section {
    display: flex;
    flex-direction: column;
  }

  @include a-partir-de(xxl) {
    padding-bottom: 0;
  }

  p {
    margin: 0;
    padding: 0;
    max-width: 650px;
    font-size: 1.125rem;
    line-height: 1.75rem;

    @include a-partir-de(md) {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }

  .fil-ariane {
    margin-bottom: 24px;
    align-self: flex-start;
  }

  .resume {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 24px;

    @include a-partir-de(xxl) {
      flex-direction: row;
    }

    .conteneur-illustration {
      display: flex;
      flex-direction: column-reverse;
    }

    img {
      display: none;
      max-width: 588px;
      @include a-partir-de(xxl) {
        display: block;
      }
    }
  }

  h1 {
    margin: 8px 0 16px;
    font-size: 2.5rem;
    line-height: 2.875rem;

    @include a-partir-de(md) {
      font-size: 3.5rem;
      line-height: 4.125rem;
    }
  }

  .bouton {
    margin-top: 24px;
    margin-bottom: 40px;
    padding: 10px 28px;

    @include a-partir-de(md) {
      width: fit-content;
    }
  }
}

.article {
  padding: 40px var(--gouttiere) 0;

  @include a-partir-de(lg) {
    padding-top: 48px;
  }

  .contenu-section {
    display: flex;
    flex-direction: column;

    @include a-partir-de(lg) {
      flex-direction: row;
      gap: 32px;
    }
  }

  & > .contenu {
    padding-top: 40px;

    @include a-partir-de(lg) {
      padding-top: 48px;
      padding-left: 0;
    }
  }
}

.sommaire-replie {
  details {
    ul {
      list-style-type: none;
      padding: 0;

      li {
        border-bottom: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;

        &.actif {
          background: #fff7db;

          a {
            border-left: 2px solid var(--jaune-msc);
            padding-left: 14px;
            border-bottom: none;
          }
        }

        a {
          text-decoration: none;
          color: var(--noir);
          padding-left: 16px;
          display: inline-block;
          border-bottom: none;
        }
      }
    }
  }
}

.sommaire-deplie {
  display: none;
  width: 300px;
  flex: 0 0 auto;
  align-self: flex-start;

  @include a-partir-de(lg) {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 40px;

    li {
      padding-top: 12px;
      padding-bottom: 12px;

      &.actif {
        font-weight: bold;

        a {
          border-left: 2px solid var(--jaune-msc);
          padding-left: 6px;
        }
      }

      a {
        border-bottom: none;
        text-decoration: none;
        color: var(--noir);
        padding-left: 8px;
        display: inline-block;
      }
    }
  }

  span {
    margin-bottom: 16px;
    font-size: 0.85rem;
    line-height: 1.5rem;
  }
}

.explication {
  padding: 0 0 8px;

  @include a-partir-de(xxl) {
    padding-top: 0;
    h2 {
      margin-top: 0;
    }
  }

  img {
    width: 100%;

    @include a-partir-de(xxl) {
      display: none;
    }
  }

  .bouton {
    margin-top: 32px;
    margin-bottom: 0;
    padding: 10px 24px;

    @include a-partir-de(lg) {
      width: fit-content;
    }
  }
}

.cible {
  margin-bottom: 8px;

  .cartes {
    margin-top: 40px;
  }
}

h2 {
  margin: 32px 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.875rem;

  @include a-partir-de(md) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.cartes {
  display: flex;
  flex-direction: row;
  gap: 22px;
  flex-wrap: wrap;
}

.carte.lien {
  display: flex;
  width: 286px;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;

  @include a-partir-de(md) {
    width: 320px;
  }

  .illustration {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    height: 168px;
    align-items: center;
    justify-content: center;
    padding: 0 34px;

    img {
      width: 100%;
    }
  }

  &.video {
    .illustration {
      position: relative;
    }

    .illustration:after {
      content: '';
      position: absolute;
      background: rgba(0, 0, 0, 0.35) url('/assets/images/icone-video.svg')
        no-repeat center;
      background-size: 60px 60px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  a,
  button {
    display: flex;
    flex-direction: column;
    color: var(--noir);
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
    flex: 1;
    align-items: stretch;
    cursor: pointer;
    text-decoration: none;
    width: auto;
    border: none;

    span {
      display: flex;
      padding: 24px;
      flex: 1;
    }
  }

  a {
    gap: 0;

    &:after {
      align-self: end;
      margin: 0 24px 24px 0;
    }
  }

  button {
    padding: 0;
    background-color: transparent;
    text-align: left;
  }
}

.ressources {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.haut-de-page {
  margin: 0 auto 40px;
  text-align: center;

  @include a-partir-de(md) {
    text-align: left;
  }

  a {
    &:before {
      content: '';
      background: url('/assets/images/icone-fleche-pleine.svg');
      width: 16px;
      height: 16px;
      margin-left: auto;
    }
  }
}

#modale-video {
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 16px 16px;
  border: 1px solid #888;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .contenu-modale {
    display: flex;
    flex-direction: column;

    .ferme-video {
      cursor: pointer;
      align-self: flex-end;
      font-size: 24px;
      margin-bottom: 8px;
      border: none;
      padding: 0;
      background: transparent;
    }

    video {
      width: 100%;
    }
  }
}
