---
---

@use '../../assets/styles/responsive' as *;
@use './commun' as *;

:root {
  --noir: #0d0c21;
  --jaune-msc: #fed980;
  --jaune-msc-hover: #ecca79;
  --jaune-msc-clique: #ddbd70;
  --jaune-clair-msc: #fff7db;
  --bleu-contour-mis-en-valeur: #0a76f6;
  --gris-aide-saisie: #3a3a3a;
  --gris-desactive-fond: #e5e5e5;
  --gris-desactive-texte: #929292;
  --gris-secondaire-fond-hover: rgba(0, 0, 0, 0.04);
  --gris-secondaire-fond-clique: rgba(0, 0, 0, 0.08);
  --controle-segmente-fond-hover: #f6f6f6;
  --controle-segmente-fond-clique: #ededed;
  --controle-segmente-courant-fond: #fff7db;
  --menu-fond-hover: rgba(0, 0, 0, 0.04);
  --menu-fond-clique: rgba(0, 0, 0, 0.08);
  --fonts: Marianne, Arial, sans-serif;
  --erreur-texte: #ce0500;

  /* thème ui kit */
  --titre-couleur-primaire: #0d0c21;
  --centre-aide-background-entete: #0d0c21
    url('/assets/images/motif-fond-service-opacite-16.avif');
  --bandeau-titre-background: var(--centre-aide-background-entete);
  --brique-carrousel-bouton-action-texte-couleur: #161616;
  --couleur-lien: #0d0c21;
  --filtre-couleur-primaire: brightness(0) invert(3%) sepia(26%) saturate(6797%)
    hue-rotate(236deg) brightness(105%) contrast(97%);
  --sommaire-actif-indicateur-couleur: #fed980;
  --sommaire-actif-couleur: #0d0c21;
  --sommaire-mobile-fond: #fff7db;
  --bouton-arrondi: 8px;
  --bouton-primaire-couleur-texte: #0d0c21;
  --bouton-primaire-couleur-fond: #fed980;
  --bouton-primaire-couleur-fond-survol: #ecca79;
  --bouton-primaire-couleur-fond-clique: #ddbd70;
  --bouton-secondaire-tertiaire-couleur-texte: #0d0c21;
  --bouton-secondaire-couleur-bordure: #0d0c21;
  --tag-couleur-fond: #eee;
  --tag-couleur-texte: #161616;
  --tag-selectionnable-couleur-texte: #0d0c21;
  --tag-selectionnable-couleur-fond: #fcf1cf;
  --tag-selectionnable-couleur-fond-survol: #faecb7;
  --tag-selectionnable-couleur-fond-clique: #f8e5a0;
  --tag-selectionne-couleur-texte: #0d0c21;
  --tag-selectionne-couleur-fond: #fed980;
  --tag-selectionne-couleur-fond-survol: #ecca79;
  --tag-selectionne-couleur-fond-clique: #ddbd70;
}

:root {
  --gouttiere: 16px;
  --largeur-max-contenu: 1200px;

  @include a-partir-de(lg) {
    --gouttiere: 24px;
  }
}

html {
  font-size: 16px;
  line-height: 24px;
  scroll-behavior: smooth;

  :has(dialog[open]) {
    overflow: hidden;
  }
}

body {
  overflow-x: hidden;
  font-family: var(--fonts);
  color: var(--noir);
  margin: 0;
}

button {
  font-family: var(--fonts);
  color: var(--noir);
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: bold;
  margin: 0;
  @include a-partir-de(md) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

a {
  color: var(--noir);
  display: flex;
  gap: 2px;
  align-items: center;
  text-decoration: none;
  width: fit-content;

  &[target='_blank']:after {
    content: '';
    display: block;
    min-width: 16px;
    height: 16px;
    background: url('/assets/images/icone-lien-externe.svg') no-repeat;
  }

  &.lien {
    text-decoration: underline solid var(--noir) 1px;
    -webkit-text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      text-decoration-thickness: 2px;
    }
  }

  &:active {
    background: rgba(0, 0, 0, 0.08);
  }

  &:focus {
    outline: 2px solid var(--bleu-contour-mis-en-valeur);
    outline-offset: 2px;
    border-style: none;
  }
}

.marianne {
  width: 108px;
  transform: translateX(-16px);
}

header {
  padding-left: var(--gouttiere);
  padding-right: var(--gouttiere);
  border-bottom: 1px solid var(--border-default-grey);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 18, 0.16);

  @include a-partir-de(lg) {
    box-shadow: none;
    border-bottom: none;
  }

  a {
    border: none;

    &:hover {
      border-bottom-style: none;
    }
  }

  .logo-anssi {
    width: 68px;
    height: 68px;
  }

  .entete-principale {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include a-partir-de(lg) {
      padding: 12px 0;
    }

    .titre-msc {
      display: none;
      margin-left: 32px;
      @include a-partir-de(lg) {
        display: flex;
      }
    }
  }

  .entete-secondaire {
    display: block;
    border-top: 1px solid var(--border-default-grey);
    padding: 12px 0;
    @include a-partir-de(lg) {
      display: none;
    }

    .titre-msc {
      display: flex;
    }
  }

  .titre-msc {
    align-items: center;
    gap: 32px;

    .titre-site {
      display: flex;
      flex-direction: column;

      .titre-principal {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      h1 {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;
      }

      h2 {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #3a3a3a;
        font-weight: normal;
      }
    }
  }

  lab-anssi-bouton-suite-cyber-navigation {
    margin-left: auto;
  }

  #menu-burger-mobile {
    margin-left: 16px;

    @include a-partir-de(lg) {
      display: none;
    }
  }
}

.contenu-section {
  margin: 0 auto;
  width: 100%;
  max-width: var(--largeur-max-contenu);
}

.fil-ariane {
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: baseline;

  a {
    color: var(--noir);
  }
}

.badge {
  justify-content: center;
  border-radius: 8px;
  background: var(--jaune-msc);
  text-align: center;
  padding: 2px 8px;
  color: var(--noir);
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.badge.service:before {
  content: '';
  background-image: url('/assets/images/icone-service.svg');
  width: 12px;
  height: 12px;
}

footer {
  border-top: 2px solid var(--noir);
  padding: 16px var(--gouttiere) 24px;
  font-size: 0.875rem;
  line-height: 1.25rem;

  .officiel {
    padding: 0 0 16px;
    border-bottom: 1px solid var(--border-default-grey);
    display: flex;
    flex-direction: column;

    @include a-partir-de(md) {
      flex-direction: row;
      .bloc-france {
        flex: 1;
      }
      .info-msc {
        flex: 2;
      }
    }

    img {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 16px;

      a {
        display: inline;

        &::after {
          display: none;
        }
      }
    }

    .liens-externes {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 20px;

      a {
        color: #3a3a3a;
        font-weight: bold;
        border: none;
      }
    }
  }

  .liens-internes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0 0;

    a {
      text-decoration: none;
      color: var(--noir);

      &:hover {
        text-decoration: underline solid var(--noir) 1px;
        -webkit-text-decoration: underline;
      }
    }

    hr {
      border: none;
      border-left: 1px solid var(--border-default-grey);
      margin: 2px 0;
    }
  }
}

.labels {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;

  span {
    border-radius: 12px;
    background: #f4f4f4;
    padding: 2px 8px;
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: normal;

    &.tag-specifique {
      background: #dae6fd;
      color: #3558a2;
    }
  }

  img {
    margin-left: auto;
  }
}

.sommaire-replie {
  padding: 12px var(--gouttiere);
  border: 1px solid var(--border-default-grey);
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;

  &:has(details[open]) {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
  }

  @include a-partir-de(lg) {
    display: none;
  }

  details {
    &[open] summary .entete-filtres .chevron {
      transform: rotate(180deg);
    }

    summary {
      display: flex;

      &::marker {
        content: '';
      }

      &::-webkit-details-marker {
        display: none;
      }

      .entete-filtres {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 8px;
      }
    }

    img {
      width: 16px;
      height: 16px;
    }

    .titre-menu {
      flex-grow: 1;
    }
  }
}

.barre-filtres {
  fieldset {
    margin: 0;
    padding: 0 0 2rem;
    border: 0;
    border-bottom: 1px solid var(--border-default-grey);

    legend {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.25rem;
      margin-bottom: 1rem;
      padding: 0;
    }

    ul {
      display: grid;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 1rem;
    }

    label {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      cursor: pointer;

      .libelle {
        display: flex;
        gap: 8px;
        align-items: center;
      }

      input[type='checkbox'] {
        appearance: none;
        border: 1px solid var(--border-action-high-blue-france);
        border-radius: 4px;
        width: 24px;
        height: 24px;
        margin: 0;
        cursor: pointer;

        &:checked {
          background-color: var(--jaune-msc);

          &::before {
            content: '';
            display: block;
            margin: auto;
            width: 6px;
            height: 12px;
            border-right: 2px var(--noir) solid;
            border-bottom: 2px var(--noir) solid;
            transform: translateY(2px) rotate(0.12turn);
          }
        }

        &:indeterminate {
          /* Ce style est prévu pour être cumulatif avec l'état coché */
          &::before {
            width: 9px;
            height: 10px;
            border-right: none;
            transform: none;
          }
        }
      }
    }
  }
}

.chapeau.fond-sombre {
  background: var(--background-flat-blue-france-lab)
    url('/assets/images/motif-fond-service-opacite-16.avif');
  padding: 24px var(--gouttiere) 40px;
  color: var(--text-inverted-grey);

  .contenu-section {
    display: flex;
    flex-direction: column;
  }

  @include a-partir-de(md) {
    gap: 16px;
  }

  .fil-ariane {
    background: none;

    img {
      filter: invert(100%);
    }

    a {
      color: var(--text-inverted-grey);
      text-decoration-color: white;
    }
  }

  h1.alternatif-xs-ns {
    font-size: 2.5rem;
    line-height: 2.875rem;
    margin: 16px 0 16px;

    @include a-partir-de(md) {
      font-size: 3.5rem;
      line-height: 3.875rem;
      margin-top: 24px;
    }
  }

  p.texte-chapo-xl-ns {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;

    @include a-partir-de(md) {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }

  .cta {
    margin: 32px 0 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;
    position: relative;
    max-width: 282px;
    align-self: flex-start;

    @include a-partir-de(lg) {
      max-width: none;
    }

    &:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      border-radius: 6px;
      height: calc(100% - 6px);
      min-width: 6px;
      background: var(--jaune-msc);
    }

    p {
      font-weight: bold;
      padding: 0;
      margin: 0;
    }
  }
}

.encart {
  padding: 40px var(--gouttiere);
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include a-partir-de(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .liste-parcours {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include a-partir-de(md) {
      flex-direction: row;
    }
  }

  &.fond-sombre {
    background: var(--background-flat-blue-france-lab)
      url('/assets/images/motif-fond-service-opacite-16.avif');

    h1 {
      color: var(--text-inverted-grey);
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 2.375rem;
    margin: 0 0 16px;

    @include a-partir-de(md) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 16px 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .carte {
    background: white;
    border-radius: 8px;
    border-bottom: 6px solid var(--jaune-msc);
    padding: 24px;

    &.parcours {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1;

      @include a-partir-de(md) {
        padding: 40px;
        gap: 24px;
      }

      img {
        height: 170px;
        align-self: flex-start;
      }

      h2 {
        margin: 0;
        padding: 0;

        @include a-partir-de(md) {
          font-size: 1.375rem;
          line-height: 1.75rem;
        }
      }

      a {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        align-self: flex-end;
        margin: 0;
        color: var(--noir);
        text-align: right;

        &::after {
          content: '';
          background: url('/assets/images/icone-fleche-droite.svg');
          width: 16px;
          height: 16px;
        }
      }
    }

    &.test-maturite,
    &.nis2 {
      box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);
      padding-top: 40px;
      display: grid;
      gap: 24px 16px;

      grid-template-columns: auto;
      grid-template-rows: auto;

      @include a-partir-de(md) {
        padding: 48px 56px;
        grid-template-columns: 1fr auto;
      }

      @include a-partir-de(lg) {
        padding: 40px 44px 40px 40px;
        grid-template-columns: auto 1fr;
        gap: 16px 64px;
      }

      h1 {
        grid-area: titre;
        margin: 0;
        color: var(--noir);
        @include a-partir-de(md) {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }

      p {
        grid-area: contenu;
        font-size: 1.25rem;
        line-height: 1.875rem;
        @include a-partir-de(md) {
          align-self: center;
        }
      }

      a {
        grid-area: bouton;
        padding: 10px 24px;
        margin: 16px auto;
        justify-self: center;

        @include a-partir-de(lg) {
          margin: 64px 0 0 0;
          justify-self: start;
        }
      }

      img {
        grid-area: illustration;
        height: 210px;
        margin-bottom: 16px;

        @include a-partir-de(md) {
          height: 163px;
          margin-bottom: 0;
        }
        @include a-partir-de(lg) {
          height: 210px;
        }
      }
    }

    &.test-maturite {
      grid-template-areas:
        'illustration'
        'titre'
        'contenu'
        'bouton';

      @include a-partir-de(md) {
        grid-template-areas:
          'titre titre'
          'contenu illustration'
          'bouton bouton';
      }
      @include a-partir-de(lg) {
        grid-template-areas:
          'illustration titre'
          'illustration contenu'
          'illustration bouton'
          'illustration .';
      }
    }

    &.nis2 {
      grid-template-areas:
        'illustration'
        'titre'
        'contenu'
        'bouton';
      @include a-partir-de(md) {
        grid-template-areas:
          'titre titre'
          'contenu illustration'
          'bouton bouton';
      }
      @include a-partir-de(lg) {
        grid-template-areas:
          'titre illustration'
          'contenu illustration'
          'bouton illustration';
        img {
          justify-self: center;
        }
      }
    }
  }
}

.etapier {
  display: flex;
  gap: 8px;

  span {
    flex-grow: 1;
    height: 8px;
    background-color: #eee;
  }

  .accessible {
    background-color: var(--background-flat-blue-france-lab);
  }
}

select {
  padding: 8px 16px;
  border: none;
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid #3a3a3a;
  background: #eee;
  width: 100%;
  color: var(--noir);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Marianne';
}

@include erreur-champ-saisie();

#bouton-favori {
  img {
    display: block;
  }

  float: right;
}

#navigation {
  position: relative;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 18, 0.16);
}

code {
  background: rgba(0, 0, 0, 0.1);
  padding-left: 3px;
  padding-right: 3px;
}

section.statistiques {
  padding: 48px var(--gouttiere) 72px;
}

.note-information {
  color: #666666;
  font-size: 0.75rem;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}
