---
---

@use '../../assets/styles/responsive' as *;

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

section {
  padding: 48px var(--gouttiere);
  @include a-partir-de(lg) {
    padding: 72px var(--gouttiere);
  }
}

.chapeau.fond-sombre {
  @include a-partir-de(lg) {
    padding-bottom: 40px;
  }
}

.test-maturite {
  @include a-partir-de(lg) {
    padding: 24px var(--gouttiere);
  }

  @include a-partir-de(xl) {
    padding: 48px var(--gouttiere);
  }

  .contenu-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .contenu-test {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include a-partir-de(lg) {
      flex-direction: row;
    }

    @include a-partir-de(xl) {
      gap: 126px;
    }
  }

  .formulaire {
    width: 100%;
    @include a-partir-de(lg) {
      padding: 24px 0;
    }
  }

  .illustration {
    display: none;
    padding: 24px;
    background-color: var(--jaune-msc);
    border-radius: 8px;
    @include a-partir-de(lg) {
      display: flex;
      flex: 0 0;
      img {
        width: 261px;

        @include a-partir-de(xl) {
          width: 432px;
        }
      }
    }
  }

  .etape {
    color: #3a3a3a;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  h5 {
    margin-top: 4px;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
  }

  .etapier {
    margin: 12px 0 32px;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.75rem;
  }

  .propositions {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
  }

  label {
    display: flex;
    cursor: pointer;
    gap: 8px;
    align-items: flex-start;

    input {
      margin-top: 8px;
    }
  }

  .commandes {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;
    gap: 16px;
    margin-bottom: 32px;
    text-align: center;

    @include a-partir-de(sm) {
      flex-direction: row;
      align-items: center;
      .bouton.secondaire {
        margin-left: auto;
      }
    }

    a {
      margin-top: 16px;
      color: var(--noir);
      text-underline-offset: 4px;
      @include a-partir-de(sm) {
        margin-top: 0;
      }
    }
  }

  .informations-complementaires {
    margin-top: 8px;

    label {
      display: flex;
      flex-direction: column;
      margin: 40px 0 8px;
    }
  }

  .introduction {
    h2 {
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin-bottom: 24px;

      @include a-partir-de(md) {
        font-size: 2rem;
        line-height: 2.5rem;
      }

      @include a-partir-de(lg) {
        margin-top: 24px;
      }
      @include a-partir-de(xl) {
        margin-top: 0;
      }
    }

    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 24px;
    }

    .bouton {
      margin: 32px auto;
      @include a-partir-de(sm) {
        margin-left: 0;
      }
    }
  }
}

.resultats-test {
  padding: 24px var(--gouttiere) 48px;

  .contenu-section {
    padding: 0 0 16px;
    overflow: hidden;

    h2 {
      margin: 0 0 40px;
      font-size: 2rem;
      line-height: 2.5rem;
      @include a-partir-de(sm) {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }

    a {
      margin: 16px 0;
    }
  }

  .description-niveau {
    margin: 32px 0;
    padding-left: 22px;
    position: relative;

    @include a-partir-de(sm) {
      margin-left: 32px;
    }

    &:before {
      content: '';
      display: block;
      min-width: 6px;
      position: absolute;
      background-color: var(--jaune-msc);
      top: 6px;
      left: 0;
      border-radius: 6px;
      height: calc(100% - 6px);
    }

    h5 {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 8px;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

.encart.fond-clair {
  background: var(--jaune-msc) url('/assets/images/motif-fond-opacite-30.png');

  .cyber-depart {
    border-bottom-color: var(--noir);
  }
}

.votre-parcours {
  background: var(--jaune-msc) url('/assets/images/motif-fond-opacite-30.png');

  .tuile {
    background: white;
    border-radius: 8px;
    padding: 24px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      'illustration'
      'titre'
      'contenu'
      'bouton';
    border-bottom: 6px solid var(--noir);
    box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);

    @include a-partir-de(lg) {
      grid-template-columns: auto 384px;
      grid-template-areas:
        'titre illustration'
        'contenu illustration'
        'bouton illustration';
      gap: 24px;
    }

    img {
      grid-area: illustration;
      height: 210px;
      margin-bottom: 24px;
      @include a-partir-de(lg) {
        align-self: center;
        margin: 0 auto;
      }
    }

    h3 {
      grid-area: titre;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 24px;
      @include a-partir-de(lg) {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }

    p {
      grid-area: contenu;
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 24px;
    }

    .bouton {
      grid-area: bouton;
      margin: 32px 0 16px;
      justify-self: center;

      @include a-partir-de(lg) {
        justify-self: flex-start;
      }
    }
  }
}

.note {
  font-style: italic;
  margin: 24px 0 16px;
}

.rappel-reponses {
  padding-top: 24px;

  h2 {
    margin: 0 0 16px;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  h3 {
    margin: 24px 0 8px;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  p {
    color: #3a3a3a;
  }

  .reponses {
    display: flex;
    flex-direction: column;
    @include a-partir-de(md) {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 32px;

      .reponse {
        flex: calc(50% - 12px);
      }
    }
  }
}
