---
---
.chapeau {
  background: #f4f4f4 url("/assets/images/motif-fond-service.png");
  padding: 24px 16px;

  .fil-ariane {
    margin-bottom: 24px;
  }

  h1 {
    margin: 0 0 16px;
  }

  .bouton {
    margin-top: 24px;
    margin-bottom: 40px;
  }
}

.menu-lateral {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border: 1px solid #ddd;

  img {
    width: 16px;
    height: 16px;
  }

  span {
    flex-grow: 1;
  }
}

.explication {
  padding: 40px 16px 8px;

  img {
    width: 100%;
  }

  .bouton {
    margin-top: 32px;
    margin-bottom: 0;
  }
}

.cible {
  padding: 0 16px;
  margin-bottom: 8px;
}

h2 {
  margin: 32px 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.cartes {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.carte {
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;

  .illustration {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    height: 168px;
    align-items: center;
    justify-content: center;
    padding: 0 34px;

    img {
      width: 100%;
    }
  }

  a {
    display: flex;
    color: var(--noir);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
    padding: 24px;
    flex-direction: column;
    gap: 12px;

    &:after {
      content: '';
      background: url("/assets/images/icone-lien-externe.svg");
      width: 16px;
      height: 16px;
      align-self: end;
    }
  }
}

.ressources {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .ressource {
    border: 1px solid #ddd;

    .illustration {
      display: flex;
      padding: 26px 22px 0;
      background: #f4f4f4;

      img {
        width: 100%;
      }
    }

    .contenu {
      border-bottom: 4px solid #0d0c21;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      h3 {
        margin: 0;
        padding: 0;
        font-size: .875rem;
        line-height: 1.5rem;
        font-weight: 400;
      }

      span {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.5rem;
      }

      a {
        display: flex;
        align-items: center;
        gap: 3px;
        text-decoration: none;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: var(--noir);
        font-weight: bold;

        &:after {
          content: '';
          background: url("/assets/images/icone-lien-externe.svg");
          width: 16px;
          height: 16px;
          margin-left: auto;
        }
      }

      .labels {
        display: flex;
        gap: 8px;

        span {
          border-radius: 12px;
          background: #f4f4f4;
          padding: 2px 8px;
          font-size: 0.75rem;
          line-height: 1.25rem;
          font-weight: normal;
        }
      }
    }
  }
}

.haut-de-page {
  margin: 0 auto 40px;
  text-align: center;

  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    line-height: 1.5rem;
    text-decoration: none;
    color: var(--noir);
    border-bottom: 1px solid var(--noir);

    &:before {
      content: '';
      background: url("/assets/images/icone-fleche-pleine.svg");
      width: 16px;
      height: 16px;
      margin-left: auto;
    }
  }
}

footer {
  border-top: 2px solid var(--noir);
  padding: 16px 16px 24px;


  display: flex;
  flex-direction: column;
  gap: 16px;

  a {
    text-decoration: none;
    color: var(--noir);
    font-size: .75rem;
    line-height: 1.5rem;
  }
}