---
---

@import './responsive';

.chapeau {
  background: #f4f4f4 url("/assets/images/motif-fond-service.png");
  padding: 24px var(--gouttiere);

  p {
    margin: 0;
    padding: 0;
    @include a-partir-de(md) {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }

  .fil-ariane {
    margin-bottom: 24px;
  }

  h1 {
    margin: 0 0 16px;

    @include a-partir-de(md) {
      font-size: 3.5rem;
      line-height: 4.125rem;
    }
  }

  .bouton {
    margin-top: 24px;
    margin-bottom: 40px;
    padding: 10px 28px;

    @include a-partir-de(md) {
      width: fit-content;
    }
  }
}

.article {
  display: flex;
  flex-direction: column;

  @include a-partir-de(lg) {
    flex-direction: row;
    gap: 32px;
  }
}

.sommaire-replie {
  padding: 16px var(--gouttiere);
  border: 1px solid #ddd;
  background: white;
  position: sticky;
  top: 0;

  &:has(details[open]) {
    position: fixed;
    top: 0;
    height: 100vh;
    width: calc(100% - var(--gouttiere) * 2);
  }

  @include a-partir-de(lg) {
    display: none;
  }

  details {
    summary {
      display: flex;
      align-items: center;
      gap: 8px;

      &::marker {
        content: '';
      }

      &::-webkit-details-marker {
        display: none;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        border-bottom: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;

        &.actif {
          background: #fff7db;

          a {
            border-left: 2px solid #fed980;
            padding-left: 14px;
          }
        }

        a {
          text-decoration: none;
          color: var(--noir);
          padding-left: 16px;
          display: inline-block;
        }
      }
    }

    img {
      width: 16px;
      height: 16px;
    }

    span {
      flex-grow: 1;
    }
  }

}

.sommaire-deplie {
  display: none;
  width: 300px;
  flex: 0 0 auto;
  align-self: flex-start;

  @include a-partir-de(lg) {
    display: flex;
    position:sticky;
    top: 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-left: 24px;

    li {
      padding-top: 12px;
      padding-bottom: 12px;

      &.actif {
        font-weight: bold;

        a {
          border-left: 2px solid #fed980;
          padding-left: 14px;
        }
      }

      a {
        text-decoration: none;
        color: var(--noir);
        padding-left: 16px;
        display: inline-block;
      }
    }
  }
}

.contenu {
  padding: 0 var(--gouttiere);

  @include a-partir-de(lg){
    padding-left: 0;
  }
}

.explication {
  padding: 40px 0 8px;

  img {
    width: 100%;
  }

  .bouton {
    margin-top: 32px;
    margin-bottom: 0;
    padding: 10px 24px;

    @include a-partir-de(lg){
      width: fit-content;
    }
  }
}

.cible {
  margin-bottom: 8px;
}

h2 {
  margin: 32px 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.875rem;

  @include a-partir-de(md) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.cartes {
  display: flex;
  flex-direction: row;
  gap: 22px;
  flex-wrap: wrap;
}

.carte {
  display: flex;
  width: 286px;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;

  @include a-partir-de(md) {
    width: 320px;
  }

  .illustration {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    height: 168px;
    align-items: center;
    justify-content: center;
    padding: 0 34px;

    img {
      width: 100%;
    }
  }

  a {
    display: flex;
    color: var(--noir);
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.75rem;
    padding: 24px;
    flex-direction: column;
    gap: 12px;

    &:after {
      content: '';
      background: url("/assets/images/icone-lien-externe.svg");
      width: 16px;
      height: 16px;
      align-self: end;
    }
  }
}

.ressources {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .ressource {
    border: 1px solid #ddd;
    width: 288px;

    @include a-partir-de(md) {
      width: 320px;
    }

    .illustration {
      display: flex;
      padding: 26px 22px 0;
      background: #f4f4f4;

      img {
        width: 100%;
      }
    }

    .contenu {
      border-bottom: 4px solid #0d0c21;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      h3 {
        margin: 0;
        padding: 0;
        font-size: .875rem;
        line-height: 1.5rem;
        font-weight: 400;
      }

      span {
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 1.5rem;
      }

      a {
        display: flex;
        align-items: center;
        gap: 3px;
        text-decoration: none;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: var(--noir);
        font-weight: bold;

        &:after {
          content: '';
          background: url("/assets/images/icone-lien-externe.svg");
          width: 16px;
          height: 16px;
          margin-left: auto;
        }
      }

      .labels {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        span {
          border-radius: 12px;
          background: #f4f4f4;
          padding: 2px 8px;
          font-size: 0.75rem;
          line-height: 1.25rem;
          font-weight: normal;
        }
      }
    }
  }
}

.haut-de-page {
  margin: 0 auto 40px;
  text-align: center;

  @include a-partir-de(md) {
    text-align: left;
  }

  a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    line-height: 1.5rem;
    text-decoration: none;
    color: var(--noir);
    border-bottom: 1px solid var(--noir);

    &:before {
      content: '';
      background: url("/assets/images/icone-fleche-pleine.svg");
      width: 16px;
      height: 16px;
      margin-left: auto;
    }
  }
}

footer {
  border-top: 2px solid var(--noir);
  padding: 16px var(--gouttiere) 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include a-partir-de(md) {
    flex-direction: row;
    gap: 16px;
  }

  a {
    text-decoration: none;
    color: var(--noir);
    font-size: .75rem;
    line-height: 1.5rem;
  }
}