---
---
.bouton {
  font-family: "Marianne";
  display: flex;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
  border: none;
  font-size: 1.125rem;
  line-height: 1.75rem;
  cursor: pointer;
}

.bouton.primaire {
  background: #fed980;
  color: var(--noir);
}

.bouton.secondaire {
  border: 1px solid #ddd;
  color: var(--noir);
  padding: 16px 24px;
  font-size: 1rem;
  line-height: 1.5rem;

  &.actif {
    background: #FED980;
  }
}

.groupe-boutons {
  display: flex;
  flex-direction: row;

  .bouton {
    border-radius: 0;
    border-left-style: none;

    &:first-of-type {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-left-style: solid;
    }

    &:last-of-type {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}