---
---

@import "responsive";

.chapeau {
  background: #0d0c21 url("/assets/images/motif-fond-service-opacite-16.png");
  padding: 24px var(--gouttiere) 40px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    font-size: 2.5rem;
    line-height: 2.875rem;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

#catalogue {
  padding: 40px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  .choix-filtre-besoin {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    label {
      border: 1px solid #ddd;
      border-radius: 8px;
      text-transform: uppercase;
      padding: 0 8px;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      &.actif {
        background: #fff7db;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
      }

      img {
        width: 48px;
        height: 48px;
      }

      input {
        display: none;
      }
    }
  }
}
