---
---

@import "responsive";

.chapeau {
  background: #0d0c21 url("/assets/images/motif-fond-service-opacite-16.png");
  padding: 24px var(--gouttiere) 40px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 24px;

  h1 {
    font-size: 2.5rem;
    line-height: 2.875rem;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}

#catalogue {
  display: flex;
  flex-direction: column;

  .choix-filtre-besoin {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    label {
      border: 1px solid #ddd;
      border-radius: 8px;
      text-transform: uppercase;
      padding: 0 8px;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      &.actif {
        background: #fff7db;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
      }

      img {
        width: 48px;
        height: 48px;
      }

      input {
        display: none;
      }
    }
  }
}

.barre-filtres {
  display: flex;
  flex-direction: column;
  width: 100%;

  fieldset {
    margin: 0 0 32px;
    padding: 0 0 32px;
    border: none;
    border-bottom: 1px solid #D9DADB;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    legend {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.25rem;
      padding: 0;
      margin-bottom: 16px;
    }

    label {
      display: flex;
      gap: 8px;
      align-items: center;

      .libelle {
        display: flex;
        gap: 8px;
        align-items: center;

        img {
          width: 20px;
          height: 20px;
          filter: brightness(0) saturate(100%);
        }
      }

      .compte {
        margin-left: auto;
        color: #939699;
        font-size: 0.75rem;
        line-height: 1rem;
      }

      input[type=checkbox] {
        appearance: none;
        border: 1px solid var(--noir);
        border-radius: 4px;
        width: 24px;
        height: 24px;
        margin: 0;

        &:checked {
          background-color: #FED980;

          &::before {
            content: '';
            display: block;
            margin: auto;
            width: 6px;
            height: 12px;
            border-right: 2px var(--noir) solid;
            border-bottom: 2px var(--noir) solid;
            transform: translateY(2px) rotate(0.12turn);
          }
        }

        &:indeterminate {
          /* Ce style est prévu pour être cumulatif avec l'état coché */
          &::before {
            width: 9px;
            height: 10px;
            border-right: none;
            transform: none;
          }
        }
      }
    }

    fieldset {
      box-sizing: border-box;
      padding: 0 0 0 16px;
      border: none;
      margin: 0;
    }
  }
}

.liste {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 40px var(--gouttiere);
}

.sommaire-replie {
  .choix-filtre-besoin {
    margin: 24px 0;
  }
}