---
---

@import "responsive";

h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

.niveaux {
  padding: 0 var(--gouttiere) 48px;

  .contenu-section {
    display: flex;
    flex-direction: column;

    h2 {
      margin: 24px 0;
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

    h3 {
      margin-top: 24px;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    p {
      padding: 16px 0 32px;
    }

    .description {
      font-size: 1.125rem;
      line-height: 1.5rem;
      margin-bottom: 0;
    }

    .details {
      p {
        border-bottom: 1px solid #dddddd;
      }
    }
  }
}

.selecteurs {
  position: sticky;
  top: 0;
  background: white;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  padding: 24px 0;
  z-index: 10;

  @include a-partir-de(xs2) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include a-partir-de(sm) {
    grid-template-columns: repeat(5, minmax(50px, 1fr));
  }

  select {
    &:nth-of-type(2) {
      display: none;

      @include a-partir-de(xs2) {
        display: block;
      }
    }

    &:nth-of-type(n + 3) {
      display: none;
      @include a-partir-de(sm) {
        display: block;
      }
    }
  }
}

.grille-haute {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 1fr;

  @include a-partir-de(xs2) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include a-partir-de(sm) {
    grid-template-columns: repeat(5, minmax(50px, 1fr));
  }

  .illustration {
    margin-top: 24px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    &:nth-of-type(2) {
      display: none;
      @include a-partir-de(xs2) {
        display: flex;
      }
    }

    &:nth-of-type(n + 3) {
      display: none;
      @include a-partir-de(sm) {
        display: flex;
      }
    }

    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: 13px;
      border: 1px solid #0d0c21;
      left: 0;
      right: 0;
    }

    img {
      flex: 0;
      z-index: 2;
      height: 220px;
    }
  }

  p {
    &:nth-of-type(2) {
      display: none;

      @include a-partir-de(xs2) {
        display: block;
      }
    }

    &:nth-of-type(n + 3) {
      display: none;
      @include a-partir-de(sm) {
        display: block;
      }
    }
  }
}

.detail {
  display: grid;
  grid-template-rows: auto;
  gap: 16px;
  grid-template-columns: 1fr;

  @include a-partir-de(xs2) {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }

  @include a-partir-de(sm) {
    grid-template-columns: repeat(5, minmax(50px, 1fr));
  }

  h3 {
    grid-column: 1/-1;
  }

  p {
    &:nth-of-type(2) {
      display: none;
      @include a-partir-de(xs2) {
        display: block;
      }
    }

    &:nth-of-type(n + 3) {
      display: none;
      @include a-partir-de(sm) {
        display: block;
      }
    }
  }
}
