---
---

@import 'responsive';

:root {
  --noir: #0d0c21;
  --fonts: Marianne, Arial, sans-serif;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--fonts);
  color: var(--noir);
  margin: 0;
}


header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: var(--gouttiere);
    padding-right: var(--gouttiere);

    .marianne {
      width: 108px;
      transform: translateX(-16px);
    }

    .menu {
      background: transparent;
      cursor: pointer;
      border: 1px solid #ddd;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.fil-ariane {
  background: #f4f4f4;
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  a {
    color: var(--noir);
  }
}

.badge {
  justify-content: center;
  border-radius: 8px;
  background: #fed980;
  text-align: center;
  padding: 2px 8px;
  color: var(--noir);
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.badge.service:before {
  content: "";
  background-image: url("/assets/images/icone-service.svg");
  width: 12px;
  height: 12px;
}

.bouton {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-weight: 500;
}

.bouton.primaire {
  background: #fed980;
  color: var(--noir);
}

.bouton.secondaire {
  border: 1px solid white;
  color: white;
}

.carte.ressource, .carte.service {
  border: 1px solid #ddd;
  width: 288px;
  border-radius: 8px;

  @include a-partir-de(md) {
    width: 320px;
  }

  figure {
    display: flex;
    position: relative;
    padding: 20px 22px 0;
    background: #f4f4f4;
    margin: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    img {
      width: 100%;
    }

    figcaption {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 2px;
      top: 16px;
      right: 16px;
      padding: 2px 8px;
      line-height: 1.25rem;
      font-size: 0.75rem;
      background: #0d0c21;
      color: white;
      border-radius: 8px;

      &:before {
        content: '';
        background-image: url("/assets/images/icone-ressource.svg");
        width: 12px;
        height: 12px;
      }
    }
  }

  .contenu {
    border-bottom: 4px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
      margin: 0;
      padding: 0;
      font-size: .875rem;
      line-height: 1.5rem;
      font-weight: 400;
    }

    span {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: 3px;
      text-decoration: none;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: var(--noir);
      font-weight: bold;

      &:after {
        content: '';
        background: url("/assets/images/icone-lien-externe.svg");
        width: 16px;
        height: 16px;
        margin-left: auto;
      }
    }

    .labels {
      span {
        font-size: 0.75rem;
        line-height: 1.25rem;
      }
    }
  }
}

.carte.ressource {
  .contenu {
    border-bottom-color: #0d0c21;
  }

  figcaption {
    background: #0d0c21;
    color: white;

    &:before {
      background-image: url("/assets/images/icone-ressource.svg");
    }
  }
}

.carte.service {
  .contenu {
    border-bottom-color: #fed980;
  }

  figure {
    figcaption {
      background: #fed980;
      color: var(--noir);

      &:before {
        background-image: url("/assets/images/icone-service.svg");
      }
    }
  }
}

footer {
  border-top: 2px solid var(--noir);
  padding: 16px var(--gouttiere) 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include a-partir-de(md) {
    flex-direction: row;
    gap: 16px;
  }

  a {
    text-decoration: none;
    color: var(--noir);
    font-size: .75rem;
    line-height: 1.5rem;
  }
}

.labels {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  span {
    border-radius: 12px;
    background: #f4f4f4;
    padding: 2px 8px;
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: normal;
  }
}