---
---

@import "responsive";

:root {
  --noir: #0d0c21;
  --gris-clair: #dddddd;
  --jaune-msc: #fed980;
  --jaune-msc-hover: #ecca79;
  --jaune-msc-clique: #ddbd70;
  --gris-desactive-fond: #e5e5e5;
  --gris-desactive-texte: #929292;
  --gris-secondaire-fond-hover: rgba(0, 0, 0, 0.04);
  --gris-secondaire-fond-clique: rgba(0, 0, 0, 0.08);
  --controle-segmente-fond-hover: #f6f6f6;
  --controle-segmente-fond-clique: #ededed;
  --controle-segmente-courant-fond: #fff7db;
  --menu-fond-hover: rgba(0, 0, 0, 0.04);
  --menu-fond-clique: rgba(0, 0, 0, 0.08);
  --fonts: Marianne, Arial, sans-serif;
}

html {
  font-size: 16px;
  line-height: 24px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: var(--fonts);
  color: var(--noir);
  margin: 0;
}

button {
  font-family: var(--fonts);
}

a {
  color: var(--noir);
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 1px solid var(--noir);
  width: fit-content;
  text-decoration: none;

  &[target="_blank"]:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("/assets/images/icone-lien-externe.svg") no-repeat;
  }

  &:hover:not(.bouton) {
    border-bottom: 2px solid var(--noir);
  }

  &:active {
    background: rgba(0, 0, 0, 0.08);
  }

  &:focus {
    outline: 2px solid #0a76f6;
    outline-offset: 2px;
    border-style: none;
  }
}

.marianne {
  width: 108px;
  transform: translateX(-16px);
}

header {
  padding-left: var(--gouttiere);
  padding-right: var(--gouttiere);

  a {
    border: none;

    &:hover {
      border-bottom-style: none;
    }
  }

  .contenu-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 20px 0;

    @include a-partir-de(md) {
      justify-content: flex-start;
    }
  }

  .titre-msc {
    display: flex;
    align-items: center;
    gap: 32px;

    .logo-anssi {
      width: 68px;
      height: 68px;
      display: none;
      @include a-partir-de(md) {
        display: block;
      }
    }

    .titre-site {
      display: none;
      @include a-partir-de(md) {
        display: block;
      }

      h1 {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.75rem;

        .beta {
          text-transform: uppercase;
          color: #18753c;
          background: #b8fec9;
          padding: 0 6px;
          border-radius: 4px;
          margin-left: 4px;
          font-size: 0.75rem;
          line-height: 1.25rem;
        }
      }

      h2 {
        margin: 0;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #3a3a3a;
        font-weight: normal;
      }
    }
  }

  .ouverture-menu {
    background: transparent;
    cursor: pointer;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    @include a-partir-de(lg) {
      display: none;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    background: white;
    width: calc(100% - 32px);
    padding: 16px;
    height: 100vh;
    top: 0;
    left: 0;

    &.invisible {
      display: none;
    }

    #menu-mobile-fermer {
      align-self: flex-end;
      color: #000091;

      &:after {
        content: "";
        display: block;
        width: 16px;
        height: 16px;
        background: url("/assets/images/icone-croix.svg") no-repeat;
      }
    }

    .choix {
      display: flex;
      flex-direction: column;

      a {
        font-weight: bold;
        width: calc(100% - 32px);
        border-bottom: 1px solid #dddddd;
        padding: 12px 16px;

        &.actif {
          position: relative;

          &:before {
            content: "";
            display: block;
            width: 2px;
            height: 24px;
            left: 0;
            background-color: var(--jaune-msc);
            position: absolute;
          }
        }
      }

      details {
        padding: 12px 16px;

        &[open] summary:after {
          transform: rotate(180deg);
        }

        summary {
          font-weight: bold;
          margin-bottom: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &::marker {
            content: "";
          }

          &::-webkit-details-marker {
            display: none;
          }

          &:after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url("/assets/images/icone-chevron-bas.svg");
          }
        }

        a {
          border-bottom: none;
          font-weight: normal;
        }
      }
    }
  }
}

.conteneur-nav {
  padding: 0 var(--gouttiere);
  display: none;

  border-top: 1px solid #dddddd;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 18, 0.16);

  @include a-partir-de(lg) {
    display: block;
  }

  .contenu-section {
    display: flex;
    align-items: center;

    a,
    details {
      padding: 16px 8px;
      font-size: 0.875rem;
      @include a-partir-de(xl) {
        padding: 16px;
      }

      &:hover {
        background: var(--menu-fond-hover);
      }

      &:active {
        background: var(--menu-fond-clique);
      }

      &.actif {
        font-weight: 500;
        border-bottom: 2px solid var(--jaune-msc);
      }
    }

    a {
      border-bottom: none;
    }

    details {
      position: relative;

      &[open] summary:after {
        transform: rotate(180deg);
      }

      .choix {
        position: absolute;
        background: white;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 18, 0.16);
        left: 0;
        right: 0;
        top: 58px;
        font-size: 0.875rem;
        line-height: 1.5rem;
        z-index: 5;

        a {
          width: 100%;
          padding: 12px 16px;
          border-bottom: 1px solid #dddddd;
          position: relative;
          font-weight: normal;
          box-sizing: border-box;

          &.actif {
            font-weight: normal;
            border-bottom: 1px solid #dddddd;

            &:before {
              content: "";
              display: block;
              width: 2px;
              height: 24px;
              background: var(--jaune-msc);
              position: absolute;
              left: 0;
            }
          }

          &:last-child {
            border: none;
          }
        }
      }

      summary {
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;

        &::marker {
          content: "";
        }

        &::-webkit-details-marker {
          display: none;
        }

        &:after {
          content: "";
          display: block;
          width: 16px;
          height: 16px;
          background: url("/assets/images/icone-chevron-bas.svg");
        }
      }
    }
  }
}

.contenu-section {
  margin: 0 auto;
  width: 100%;
  max-width: var(--largeur-max-contenu);
}

.fil-ariane {
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  a {
    color: var(--noir);
  }
}

.badge {
  justify-content: center;
  border-radius: 8px;
  background: var(--jaune-msc);
  text-align: center;
  padding: 2px 8px;
  color: var(--noir);
  font-size: 0.75rem;
  line-height: 1.25rem;
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.badge.service:before {
  content: "";
  background-image: url("/assets/images/icone-service.svg");
  width: 12px;
  height: 12px;
}

.carte.ressource,
.carte.service {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 286px;
  text-decoration: none;
  color: var(--noir);
  align-items: stretch;
  gap: 0;

  &:hover {
    figure img {
      transform: translateY(0);
    }

    .contenu {
      background: #f6f6f6;
    }
  }

  figure {
    height: 157px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
    background: #f4f4f4;
    margin: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    img {
      height: 131px;
      width: 243px;
      box-shadow: 0 4px 12px 0 rgba(0, 0, 18, 0.32);
      transform: translateY(8px);
      transition: all 0.1s ease;
    }

    figcaption {
      position: absolute;
      display: flex;
      align-items: center;
      gap: 2px;
      top: 16px;
      right: 16px;
      padding: 2px 8px;
      line-height: 1.25rem;
      font-size: 0.75rem;
      background: #0d0c21;
      color: white;
      border-radius: 8px;

      &:before {
        content: "";
        background-image: url("/assets/images/icone-ressource.svg");
        width: 12px;
        height: 12px;
      }
    }
  }

  .contenu {
    background: white;
    z-index: 1;
    border-bottom: 4px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
      margin: 0;
      padding: 0;
      font-size: 0.875rem;
      line-height: 1.5rem;
      font-weight: 400;
    }

    .description {
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: 3px;
      text-decoration: none;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: var(--noir);
      font-weight: bold;
    }

    .labels {
      span {
        font-size: 0.75rem;
        line-height: 1.25rem;
      }

      a.lien-externe {
        margin-left: auto;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.carte.ressource {
  .contenu {
    border-bottom-color: #0d0c21;
  }

  figcaption {
    background: #0d0c21;
    color: white;

    &:before {
      background-image: url("/assets/images/icone-ressource.svg");
    }
  }
}

.carte.service {
  .contenu {
    border-bottom-color: var(--jaune-msc);
  }

  figure {
    figcaption {
      background: var(--jaune-msc);
      color: var(--noir);

      &:before {
        background-image: url("/assets/images/icone-service.svg");
      }
    }
  }
}

footer {
  border-top: 2px solid var(--noir);
  padding: 16px var(--gouttiere) 24px;
  font-size: 0.875rem;
  line-height: 1.25rem;

  .officiel {
    padding: 0 0 16px;
    border-bottom: 1px solid var(--gris-clair);
    display: flex;
    flex-direction: column;

    @include a-partir-de(md) {
      flex-direction: row;
      .bloc-france {
        flex: 1;
      }
      .info-msc {
        flex: 2;
      }
    }

    img {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 16px;

      a {
        display: inline;

        &::after {
          display: none;
        }
      }
    }

    .liens-externes {
      display: flex;
      flex-wrap: wrap;
      gap: 16px 20px;

      a {
        color: #3a3a3a;
        font-weight: bold;
        border: none;
      }
    }
  }

  .liens-internes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0 0;

    a {
      text-decoration: none;
      color: var(--noir);
      border: none;
    }

    hr {
      border: none;
      border-left: 1px solid var(--gris-clair);
      margin: 2px 0;
    }
  }
}

.labels {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: auto;

  span {
    border-radius: 12px;
    background: #f4f4f4;
    padding: 2px 8px;
    font-size: 0.85rem;
    line-height: 1.5rem;
    font-weight: normal;

    &.tag-specifique {
      background: #dae6fd;
      color: #3558a2;
    }
  }

  img {
    margin-left: auto;
  }
}

.sommaire-replie {
  padding: 12px var(--gouttiere);
  border: 1px solid #ddd;
  background: white;
  position: sticky;
  top: 0;
  z-index: 2;

  &:has(details[open]) {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
  }

  @include a-partir-de(lg) {
    display: none;
  }

  details {
    &[open] summary .entete-filtres .chevron {
      transform: rotate(180deg);
    }

    summary {
      &::marker {
        content: "";
      }

      &::-webkit-details-marker {
        display: none;
      }

      .entete-filtres {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    img {
      width: 16px;
      height: 16px;
    }

    .titre-menu {
      flex-grow: 1;
    }
  }
}

.chapeau.fond-sombre {
  background: #0d0c21 url("/assets/images/motif-fond-service-opacite-16.png");
  padding: 24px var(--gouttiere) 40px;
  color: white;

  .contenu-section {
    display: flex;
    flex-direction: column;
  }

  @include a-partir-de(md) {
    gap: 16px;
  }

  .fil-ariane {
    background: none;

    img {
      filter: invert(100%);
    }

    a {
      color: white;
      border-bottom-color: white;
    }
  }

  h1 {
    font-size: 2.5rem;
    line-height: 2.875rem;
    margin: 16px 0 16px;

    @include a-partir-de(md) {
      font-size: 3.5rem;
      line-height: 3.875rem;
      margin-top: 24px;
    }
  }

  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 2rem;

    @include a-partir-de(md) {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }

  .cta {
    margin: 32px 0 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 24px;
    position: relative;
    max-width: 282px;
    align-self: flex-start;

    @include a-partir-de(lg) {
      max-width: none;
    }

    &:after {
      content: "";
      position: absolute;
      top: 6px;
      left: 0;
      border-radius: 6px;
      height: calc(100% - 6px);
      min-width: 6px;
      background: var(--jaune-msc);
    }

    p {
      font-weight: bold;
      padding: 0;
      margin: 0;
    }
  }
}

.encart {
  padding: 40px var(--gouttiere);
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include a-partir-de(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .liste-parcours {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include a-partir-de(md) {
      flex-direction: row;
    }
  }

  &.fond-sombre {
    background: #0d0c21 url("/assets/images/motif-fond-service-opacite-16.png");

    h1 {
      color: white;
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 2.375rem;
    margin: 0 0 16px;

    @include a-partir-de(md) {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 16px 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .carte {
    background: white;
    border-radius: 8px;
    border-bottom: 6px solid var(--jaune-msc);
    padding: 24px;

    &.parcours {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1;

      @include a-partir-de(md) {
        padding: 40px;
        gap: 24px;
      }

      img {
        height: 170px;
        align-self: flex-start;
      }

      h2 {
        margin: 0;
        padding: 0;

        @include a-partir-de(md) {
          font-size: 1.375rem;
          line-height: 1.75rem;
        }
      }

      a {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        align-self: flex-end;
        margin: 0;
        color: var(--noir);
        text-align: right;
        text-decoration: none;
        border-bottom: 1px solid var(--noir);

        &::after {
          content: "";
          background: url("/assets/images/icone-fleche-droite.svg");
          width: 16px;
          height: 16px;
        }
      }
    }

    &.test-maturite,
    &.nis2 {
      box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);
      padding-top: 40px;
      display: grid;
      gap: 24px 16px;

      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        "illustration"
        "titre"
        "contenu"
        "bouton";

      @include a-partir-de(md) {
        padding: 48px 56px;
        grid-template-columns: 1fr auto;
        grid-template-areas:
          "titre titre"
          "contenu illustration"
          "bouton bouton";
      }

      @include a-partir-de(lg) {
        padding: 40px 44px 40px 40px;
        grid-template-columns: auto 1fr;
        grid-template-areas:
          "illustration titre"
          "illustration contenu"
          "illustration bouton"
          "illustration .";
        gap: 16px 64px;
      }

      h1 {
        grid-area: titre;
        margin: 0;
        color: var(--noir);
        @include a-partir-de(md) {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }

      p {
        grid-area: contenu;
        font-size: 1.25rem;
        line-height: 1.875rem;
        @include a-partir-de(md) {
          align-self: center;
        }
      }

      a {
        grid-area: bouton;
        padding: 10px 24px;
        @include a-partir-de(lg) {
          margin-top: 8px;
          justify-self: start;
        }
      }

      img {
        grid-area: illustration;
        height: 210px;
        margin-bottom: 16px;

        @include a-partir-de(md) {
          height: 163px;
          margin-bottom: 0;
        }
        @include a-partir-de(lg) {
          height: 210px;
        }
      }
    }
  }
}

.carte.service,
.carte.ressource {
  @include a-partir-de(md) {
    height: 406px;
  }

  figure {
    height: 156px;
  }

  &:after {
    display: none;
  }

  .contenu {
    flex: 1;
    box-sizing: border-box;
    gap: 8px;

    h3 {
      text-wrap: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .description {
      font-size: 1.25rem;
      line-height: 1.75rem;
      height: 84px;
      overflow: hidden;
      margin-bottom: 8px;
    }
  }
}

.etapier {
  display: flex;
  gap: 8px;

  span {
    flex-grow: 1;
    height: 8px;
    background-color: #eee;
  }

  .accessible {
    background-color: var(--noir);
  }
}

select {
  padding: 8px 16px;
  border: none;
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid #3a3a3a;
  background: #eee;
  width: 100%;
  color: var(--noir);
  font-size: 1rem;
  line-height: 1.5rem;
}
