---
---

@import "responsive";

.test-maturite {
  padding: 0 var(--gouttiere);

  label {
    display: block;
    cursor: pointer;
  }

  .commandes {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;
    gap: 16px;
    margin-bottom: 32px;
    text-align: center;

    a {
      margin-top: 16px;
    }
  }

  .informations-complementaires {
    label {
      display: flex;
      flex-direction: column;
    }

    .choix-taille {
      border: none;

      label {
        flex-direction: row;
      }
    }
  }
}

#radar {
  width: 400px;
  height: 400px;
}
