---
---

@import "responsive";

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.test-maturite {
  padding: 32px var(--gouttiere);

  @include a-partir-de(lg) {
    padding: 24px var(--gouttiere);
  }

  .contenu-section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include a-partir-de(lg) {
      flex-direction: row;
    }

    @include a-partir-de(xl) {
      gap: 126px;
    }
  }

  .formulaire {
    @include a-partir-de(lg) {
      padding: 24px 0;
    }
  }

  .illustration {
    display: none;
    padding: 24px;
    background-color: #fed980;
    border-radius: 8px;
    @include a-partir-de(lg) {
      display: flex;
      flex: 0 0;
      img {
        width: 261px;

        @include a-partir-de(xl) {
          width: 432px;
        }
      }
    }
  }

  .etape {
    color: #3a3a3a;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  h5 {
    margin-top: 4px;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
  }

  .etapier {
    margin: 12px 0 32px;
  }

  h4 {
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.75rem;
    margin-bottom: 24px;
  }

  .propositions {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  label {
    display: flex;
    cursor: pointer;
    gap: 8px;
    align-items: flex-start;

    input {
      margin-top: 8px;
    }
  }

  .commandes {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;
    gap: 16px;
    margin-bottom: 32px;
    text-align: center;

    @include a-partir-de(sm) {
      flex-direction: row;
      align-items: center;
      .bouton.secondaire {
        margin-left: auto;
      }
    }

    a {
      margin-top: 16px;
      color: var(--noir);
      text-underline-offset: 4px;
      @include a-partir-de(sm) {
        margin-top: 0;
      }
    }
  }

  .informations-complementaires {
    label {
      display: flex;
      flex-direction: column;
      margin: 40px 0 8px;
    }

    .choix-taille {
      border: none;
      margin: 40px 0 16px;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      legend {
        margin-bottom: 16px;
      }

      input {
        width: 24px;
        height: 24px;
        margin: 0;
      }

      label {
        margin: 0;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }
    }
  }
}

.resultats-test {
  padding: 32px var(--gouttiere);

  .contenu-section {
    padding: 16px 0;
    overflow: hidden;

    h2 {
      margin-bottom: 40px;
    }

    a {
      margin: 16px 0;
    }
  }

  .description-niveau {
    margin: 32px 0;
    padding-left: 22px;
    position: relative;

    &:before {
      content: "";
      display: block;
      min-width: 6px;
      position: absolute;
      background-color: #fed980;
      top: 6px;
      left: 0;
      border-radius: 6px;
      height: calc(100% - 6px);
    }

    h5 {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 8px;
    }
    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }
}

#radar {
  width: 400px;
  height: 400px;
}

.tuiles-niveau {
  display: flex;
  gap: 24px;
  padding-top: 16px;
  padding-bottom: 32px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  .tuile-niveau {
    scroll-snap-align: center;

    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 16px;
    background: #f6f6f6;
    flex: 0 0 182px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-weight: bold;
    gap: 8px;
    position: relative;

    .plante {
      order: 3;
      z-index: 2;
    }

    .coche {
      order: 2;
    }

    span {
      order: 1;
    }

    &.inactif {
      img {
        filter: grayscale(100%);
      }
    }

    &.actif {
      background: white;
    }

    &.courant {
      border-color: transparent;
      border-radius: 0;
      background: #fff7db;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        border-radius: 8px;
        border: 3px solid #fed980;
      }
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: 94px;
      border: 2px solid #0d0c21;
      left: 0;
      right: 0;
    }
  }
}
