---
---

@import "responsive";

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.chapeau.fond-sombre {
  @include a-partir-de(lg) {
    padding-bottom: 40px;
  }
}

.test-maturite {
  padding: 32px var(--gouttiere);

  @include a-partir-de(lg) {
    padding: 24px var(--gouttiere);
  }

  .contenu-section {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include a-partir-de(lg) {
      flex-direction: row;
    }

    @include a-partir-de(xl) {
      gap: 126px;
    }
  }

  .formulaire {
    @include a-partir-de(lg) {
      padding: 24px 0;
    }
  }

  .illustration {
    display: none;
    padding: 24px;
    background-color: #fed980;
    border-radius: 8px;
    @include a-partir-de(lg) {
      display: flex;
      flex: 0 0;
      img {
        width: 261px;

        @include a-partir-de(xl) {
          width: 432px;
        }
      }
    }
  }

  .etape {
    color: #3a3a3a;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  h5 {
    margin-top: 4px;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
  }

  .etapier {
    margin: 12px 0 32px;
  }

  h4 {
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.75rem;
  }

  .propositions {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
  }

  label {
    display: flex;
    cursor: pointer;
    gap: 8px;
    align-items: flex-start;

    input {
      margin-top: 8px;
    }
  }

  .commandes {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 24px;
    gap: 16px;
    margin-bottom: 32px;
    text-align: center;

    @include a-partir-de(sm) {
      flex-direction: row;
      align-items: center;
      .bouton.secondaire {
        margin-left: auto;
      }
    }

    a {
      margin-top: 16px;
      color: var(--noir);
      text-underline-offset: 4px;
      @include a-partir-de(sm) {
        margin-top: 0;
      }
    }
  }

  .informations-complementaires {
    margin-top: 8px;

    .note {
      color: #666666;
      margin-bottom: 24px;
    }

    label {
      display: flex;
      flex-direction: column;
      margin: 40px 0 8px;
    }

    .choix-taille {
      border: none;
      margin: 40px 0 16px;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      legend {
        margin-bottom: 16px;
      }

      input {
        width: 24px;
        height: 24px;
        margin: 0;
      }

      label {
        margin: 0;
        flex-direction: row;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .introduction {
    h4 {
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin-bottom: 24px;

      @include a-partir-de(md) {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
      margin-bottom: 24px;
    }

    .bouton {
      margin: 16px auto;
      @include a-partir-de(sm) {
        margin-left: 0;
      }
    }
  }
}

.resultats-test {
  padding: 32px var(--gouttiere);

  .contenu-section {
    padding: 16px 0;
    overflow: hidden;

    h2 {
      margin-bottom: 40px;
    }

    a {
      margin: 16px 0;
    }
  }

  .description-niveau {
    margin: 32px 0;
    padding-left: 22px;
    position: relative;

    @include a-partir-de(sm) {
      margin-left: 32px;
    }

    &:before {
      content: "";
      display: block;
      min-width: 6px;
      position: absolute;
      background-color: #fed980;
      top: 6px;
      left: 0;
      border-radius: 6px;
      height: calc(100% - 6px);
    }

    h5 {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 8px;
    }

    p {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  .priorite {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 32px 0;
    padding: 24px 24px 24px 64px;

    h5 {
      font-size: 1.125rem;
      line-height: 1.5rem;
      font-weight: bold;
      margin-bottom: 8px;
      position: relative;

      @include a-partir-de(sm) {
        font-size: 1.25rem;
        line-height: 1.75rem;
      }

      &:before {
        content: "";
        background: url("/assets/images/icone-information.svg");
        position: absolute;
        display: block;
        top: 4px;
        left: -40px;
        width: 24px;
        height: 24px;
      }
    }

    p {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }
  }
}

.pour-aller-plus-loin {
  padding: 48px var(--gouttiere);
  background: #0d0c21 url("/assets/images/motif-fond-service-opacite-16.png");
  color: white;

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    margin-bottom: 24px;
  }

  .cartes {
    display: flex;
    gap: 16px;
    color: var(--noir);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    @include a-partir-de(lg) {
      justify-content: space-between;
    }

    .carte {
      flex: 0 0 282px;
      background: white;
      border-radius: 8px;
      padding: 32px 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      scroll-snap-align: center;
      box-sizing: border-box;
      text-align: center;
      margin: 32px 0 16px;
      border-bottom: 4px solid #fed980;

      @include a-partir-de(lg) {
        flex: 0 0 384px;
      }

      img {
        width: 80px;
        height: 80px;
        margin-bottom: 16px;
      }

      h5 {
        margin-bottom: 8px;
      }
    }
  }

  a {
    margin: 96px auto 16px;
  }
}

.repartition {
  padding: 48px var(--gouttiere) 64px;

  .contenu-section {
    h2 {
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin-bottom: 24px;
    }
  }
}

.radar-maturite {
  margin-bottom: 16px;

  #radar {
    width: 100%;
    height: 100%;

    .libelle-long {
      display: none;

      @include a-partir-de(sm) {
        display: block;
      }
    }

    .libelle-lettre {
      font-weight: bold;
      @include a-partir-de(sm) {
        display: none;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include a-partir-de(sm) {
      display: none;
    }

    li {
      padding: 8px;
      margin: 0;

      .lettre {
        font-weight: bold;
      }
    }
  }
}

.tuiles-niveau {
  display: flex;
  gap: 24px;
  padding-top: 16px;
  padding-bottom: 32px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  .tuile-niveau {
    scroll-snap-align: center;

    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 16px;
    background: #f6f6f6;
    flex: 0 0 182px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-weight: bold;
    gap: 8px;
    position: relative;

    .plante {
      order: 3;
      z-index: 2;
    }

    .coche {
      order: 2;
    }

    span {
      order: 1;
    }

    &.inactif {
      img {
        filter: grayscale(100%);
      }
    }

    &.actif {
      background: white;
    }

    &.courant {
      border-color: transparent;
      border-radius: 0;
      background: #fff7db;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        border-radius: 8px;
        border: 3px solid #fed980;
      }
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: 94px;
      border: 2px solid #0d0c21;
      left: 0;
      right: 0;
    }
  }
}

.votre-parcours {
  padding: 48px var(--gouttiere);
  background: #fed980 url("/assets/images/motif-fond-opacite-30.png");

  .tuile {
    background: white;
    border-radius: 8px;
    padding: 24px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "illustration"
      "titre"
      "contenu"
      "bouton";
    border-bottom: 6px solid var(--noir);
    box-shadow: 0 6px 18px 0 rgba(0, 0, 18, 0.16);

    @include a-partir-de(lg) {
      grid-template-columns: auto 384px;
      grid-template-areas:
        "titre illustration"
        "contenu illustration"
        "bouton illustration";
      gap: 24px;
    }

    img {
      grid-area: illustration;
      height: 210px;
      margin-bottom: 24px;
      @include a-partir-de(lg) {
        align-self: center;
        margin: 0 auto;
      }
    }

    h3 {
      grid-area: titre;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 24px;
      @include a-partir-de(lg) {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }

    p {
      grid-area: contenu;
      font-size: 1.25rem;
      line-height: 2rem;
      margin-bottom: 24px;
    }

    .bouton {
      grid-area: bouton;
      margin: 32px 0 16px;
      justify-self: center;

      @include a-partir-de(lg) {
        justify-self: flex-start;
      }
    }
  }
}

.note {
  font-style: italic;
  margin: 24px 0 16px;
}
