---
layout: accueil
titreHtml: 'Accueil | MesServicesCyber'
permalink: /
---

<section class="chapeau fond-sombre">
  <div class="contenu-section">
    <hgroup>
      <h1 class="alternatif-xs">
        Mes&ZeroWidthSpace;Services&ZeroWidthSpace;Cyber
      </h1>
      <p class="texte-chapo-xl">Agissez pour votre cybersécurité&nbsp;!</p>
    </hgroup>
    <div class="actions">
      <msc-lien
        apparence="bouton"
        href="/cyberdepart/"
        libelle="Demander un diagnostic gratuit"
        type="primaire"
      ></msc-lien>
      <msc-lien
        apparence="bouton"
        href="/catalogue#guides"
        libelle="Accéder aux guides de l’ANSSI"
        type="secondaire-inverse"
      ></msc-lien>
    </div>
    <img src="/assets/images/ecrans-virtuels-avec-femme-au-centre.svg" alt="" />
    <p class="texte-detail-sm">
      Découvrez les guides, services et outils gratuits proposés par l'Agence
      nationale de la sécurité des systèmes d'information et ses partenaires.
    </p>
  </div>
</section>

<script type="application/json" id="accueil-donnees-demande-diagnostic">
  {
    "origine": "accueil"
  }
</script>

<section class="organisations-concernees">
  <div class="contenu-section">
    <div class="toutes-organisations">
      <hgroup>
        <h2>
          Toutes les organisations sont concernées par le risque de
          cyberattaques
        </h2>
        <p class="texte-article-lg">
          Les TPE/PME/ETI et collectivités sont les principales victimes des
          ransomwares ou rançongiciels.
        </p>
      </hgroup>
      <img
        src="/assets/images/illustration-organisations-concernees.svg"
        alt="Organisation concernées"
      />
      <msc-lien
        blank
        href="https://cyber.gouv.fr/nous-connaitre/publications/panoramas-de-la-cybermenace/panorama-de-la-cybermenace-2025/"
        libelle="Panorama de la menace 2025, ANSSI"
        taille="sm"
        type="primaire"
      ></msc-lien>
    </div>
    {% include composant-svelte.html id="demande-diagnostic" %}
    <div class="acces-catalogue">
      <h2>
        Accédez à un catalogue complet de ressources cyber proposées par l'ANSSI
        et ses partenaires
      </h2>
      <div class="selections">
        <p class="texte-detail-sm">
          Les sélections de l’ANSSI pour vous accompagner
        </p>
        <lab-anssi-carrousel-tuiles>
          <dsfr-card
            title="Se lancer en cyber"
            description="Des services et ressources pour vous aider à mettre en œuvre des premières actions concrètes pour commencer à renforcer sa cybersécurité."
            enlarge="true"
            has-description="true"
            href="/parcours-debuter"
            src="/assets/images/marelle-avec-bulle-fond-gris.svg"
          ></dsfr-card>
          <dsfr-card
            title="Approfondir vos efforts"
            description="Des services et ressources pour aider votre organisation à approfondir la démarche de renforcement de la cybersécurité."
            enlarge="true"
            has-description="true"
            href="/parcours-approfondir"
            src="/assets/images/jumelles-avec-bulle-fond-gris.svg"
          ></dsfr-card>
          <dsfr-card
            title="Vous accompagner avec NIS2"
            description="Des services et ressources pouvant accompagner les entités régulées par la directive."
            enlarge="true"
            has-description="true"
            href="/nis2"
            src="/assets/images/directive-nis2-avec-bulle-fond-gris.svg"
          ></dsfr-card>
        </lab-anssi-carrousel-tuiles>
      </div>
      <p class="texte-chapo-xl">
        Explorez l’ensemble du catalogue et trouvez facilement
        <strong>les services et guides de l’ANSSI adaptés</strong> aux besoins
        de votre organisation.
      </p>
      <msc-lien
        apparence="bouton"
        href="/catalogue#guides"
        libelle="Accéder aux guides de l’ANSSI"
        type="secondaire"
      ></msc-lien>
    </div>
  </div>
</section>

<section class="test-maturite">
  <div class="contenu-section">
    <div class="recapitulatif">
      <hgroup>
        <h2>Quelle est la maturité cyber de votre organisation&nbsp;?</h2>
        <p class="texte-standard-md">
          La maturité cyber correspond au niveau global de prise en compte des
          risques numériques dans votre organisation.
          <br />
          <br />
          ⏱️
          <strong
            >5 min. seulement pour obtenir une évaluation indicative</strong
          >
          et voir où vous vous situez par rapport aux autres organisations ayant
          déjà réalisé le test de maturité cyber.
        </p>
      </hgroup>
      <msc-lien
        apparence="bouton"
        href="/test-maturite"
        type="primaire"
        libelle="Débuter le test"
        icone="arrow-right-line"
        icone-a-droite
      ></msc-lien>
      <msc-lien
        id="lien-session-groupe"
        href="/session-groupe"
        libelle="Disponible aussi pour les sessions en groupe"
      ></msc-lien>
      <p class="texte-mention-xs">
        La maturité cyber n’est pas une évaluation du niveau de sécurité des
        systèmes d’information d’une organisation mais de sa posture à l’égard
        des enjeux cyber.
      </p>
    </div>
    <div class="barometre">
      <hgroup>
        <h6>Baromètre de la maturité cyber</h6>
        <p class="texte-detail-sm">
          Répartition de la maturité cyber des organisations sur l’ensemble des
          tests réalisés.
        </p>
      </hgroup>
      {% include composant-svelte.html id="barometre-simplifie" %}
    </div>
  </div>
</section>

<section class="interlocuteurs">
  <div class="contenu-section">
    <div class="contenu-interlocuteurs" >
      {% include composant-svelte.html id="carrousel-des-interlocuteurs" %}
    </div>
  </div>
</section>

<section class="equipe-bizdev">
  <div class="contenu-section" id="" >
    {% include composant-svelte.html id="equipe-biz-dev" %}
  </div>
</section>

<section class="communaute-msc">
  <div class="contenu-section">
    <h2>Rejoignez la communauté&nbsp;!</h2>
    <div class="contenu">
      <p class="texte-standard-md">
        En tant que <b>membre de la communauté</b>, vous pourrez&nbsp;:
      </p>
      <ul>
        <li>
          <b>Échanger</b> directement avec vos pairs pour une collaboration
          facilitée.
        </li>
        <li>
          <b>Découvrir</b> en avant-première les nouvelles fonctionnalités à
          venir.
        </li>
        <li>
          <b>Participer</b> activement au développement de MesServicesCyber en
          nous partageant vos besoins et suggestions d’amélioration.
        </li>
      </ul>
    </div>
    <msc-lien
      apparence="bouton"
      blank
      href="https://tally.so/r/wa6o22"
      libelle="Rejoindre la communauté"
      type="secondaire"
    ></msc-lien>
    <img
      src="assets/images/illustration-s-informer.svg"
      alt="Dialoguer avec la communauté"
    />
  </div>
</section>

<section class="partenaires">
  <div class="contenu-section">
    <h2>
      Ils s'engagent pour Mes&ZeroWidthSpace;Services&ZeroWidthSpace;Cyber
    </h2>
    <div class="logos">
      <img
        src="/assets/images/logo-afcdp.avif"
        alt="Association Française des Correspondants à la protection des Données à caractère Personnel (AFCDP)"
        width="146"
      />
      <img
        src="/assets/images/logo-amrf.avif"
        alt="Association des Maires Ruraux de France (AMRF)"
        width="136"
      />
      <img
        src="/assets/images/logo-anct.svg"
        alt="Agence Nationale de la Cohésion des Territoires (ANCT)"
        width="198"
      />
      <img
        src="/assets/images/logo-cyber-reunion.avif"
        alt="Cyber Réunion - Experts en Cybersécurité à La Réunion"
        width="210"
      />
      <img
        src="/assets/images/logo-elipso.avif"
        alt="ELIPSO - Association des fabricants d’emballages plastiques et souples"
        width="154"
      />
      <img
        src="/assets/images/logo-ficam.avif"
        alt="Fédération des industries du cinéma, de l’audiovisuel et du multimédia (FICAM)"
        width="129"
      />
      <img
        src="/assets/images/logo-gifen.avif"
        alt="Groupement des Industriels Français de l’Energie Nucléaire (GIFEN)"
        width="121"
      />
      <img
        src="/assets/images/logo-suite-territoriale.svg"
        alt="La Suite territoriale"
        width="152"
      />
      <img
        src="/assets/images/logo-club-dpo.avif"
        alt="Le Club DPO - Communauté d'experts en protection des données"
        width="140"
      />
      <img
        src="/assets/images/logo-spiil.avif"
        alt="Syndicat de la Presse Indépendante en Ligne (SPIIL)"
        width="146"
      />
      <img
        src="/assets/images/logo-umih.svg"
        alt="Union des Métiers et des Industries de l'Hôtellerie (UMIH)"
        width="110"
      />
    </div>
  </div>
</section>

<section class="anssi">
  <div class="contenu-section">
    <div class="contenu-anssi">
      <img src="assets/images/logo-anssi.svg" class="logo" alt="ANSSI" />
      <h2>Qu’est-ce que l’ANSSI&nbsp;?</h2>
      <p class="texte-standard-md">
        Créée en 2009, l’Agence nationale de la sécurité des systèmes
        d’information (ANSSI) est l’autorité nationale en matière de
        cybersécurité et de cyberdéfense.
        <br />
        <br />
        <strong>
          Son action pour la protection de la Nation face aux cyberattaques se
          traduit en cinq grandes missions : défendre, connaître, partager,
          accompagner, réguler.
        </strong>
      </p>
      <msc-lien
        apparence="bouton"
        blank
        href="https://cyber.gouv.fr/"
        libelle="Se rendre sur le site de l'ANSSI"
        type="secondaire"
      ></msc-lien>
    </div>
  </div>
</section>
