---
layout: accueil
titreHtml: 'Accueil | MesServicesCyber'
permalink: /
---

{% include composant-svelte.html id="heros-accueil" %}

<script type="application/json" id="accueil-donnees-demande-diagnostic">
  {
    "origine": "accueil"
  }
</script>

{% if site.env.FEATURE_FLAG_PARCOURS_SECURISATION == 'true' %}
{% include composant-svelte.html id="proteger-organisation" %}
{% else %}
<dsfr-container class="organisations-concernees">
  <div class="contenu-section">
    <div class="toutes-organisations">
      <hgroup>
        <h2 class="fr-h1">
          Toutes les organisations sont concernées par le risque de
          cyberattaques
        </h2>
        <p class="texte-article-lg">
          Les TPE/PME/ETI et collectivités sont les principales victimes des
          ransomwares ou rançongiciels.
        </p>
      </hgroup>
      <img
        src="/assets/images/illustration-organisations-concernees.svg"
        alt="Organisation concernées"
        width="402"
        height="293"
        class="illustration"
      />
      <msc-lien
        blank
        href="https://cyber.gouv.fr/nous-connaitre/publications/panoramas-de-la-cybermenace/panorama-de-la-cybermenace-2025/"
        libelle="Panorama de la menace 2025, ANSSI"
        taille="sm"
        type="primaire"
        neutre
        class="lien-panorama"
      ></msc-lien>
    </div>
    {% include composant-svelte.html id="demande-diagnostic" %}
  </div>
</dsfr-container>
{% endif %}

<dsfr-container class="nis2 section-deux-colonnes fond-cafe-creme">
  <div class="conteneur">
    <div class="contenu-principal">
      <h2 class="titre fr-h1">NIS 2 arrive. Anticipez dès maintenant.</h2>

      <div class="description">
        <p>La directive NIS 2 renforce les exigences de cybersécurité pour des milliers d'entreprises et de collectivités en France et en Europe.</p>
        <p>Avec MesServicesCyber, découvrez NIS 2, si votre organisation est concernée et les étapes incontournables. Explorez les exigences du Référentiel Cyber France (ReCyF), pensé pour faciliter la mise en conformité avec NIS2 et comparez-le avec d’autres standards (ISO, etc.).</p>
      </div>

      <msc-lien
        apparence="bouton"
        href="/nis2"
        libelle="Découvrir la directive NIS2"
        type="secondaire"
        taille="lg"
      ></msc-lien>
    </div>

    <div class="contenu-secondaire">
      <figure class="illustration">
        <img src="/assets/images/la-directive-NIS2.svg" alt="" />
      </figure>
    </div>
  </div>
</dsfr-container>

<dsfr-container class="guides-et-ressources section-deux-colonnes fond-bleu-france">
  <div class="conteneur">
    <div class="contenu-principal">
      <h2 class="titre fr-h1">Les recommandations de l'ANSSI, à portée de main.</h2>
      <p class="description">Accédez aux guides de référence de l'ANSSI et posez vos questions cyber à MesQuestionsCyber, l'assistant IA conçu pour vous répondre simplement, à tout moment.</p>
      <msc-lien
        apparence="bouton"
        href="/catalogue#guides"
        libelle="Accéder aux guides"
        type="secondaire-inverse"
        taille="lg"
      ></msc-lien>
    </div>

    <div class="contenu-secondaire">
      <figure class="illustration">
        <img src="/assets/images/composition-guides-et-ressources.png" alt="" />
      </figure>
    </div>
  </div>
</dsfr-container>

<dsfr-container class="test-maturite">
  <div class="contenu-section">
    <div class="recapitulatif">
      <hgroup>
        <h2 class="fr-h1">
          Quelle est la maturité cyber de votre organisation&nbsp;?
        </h2>

        <p class="texte-standard-md">
          La maturité cyber correspond au niveau global de prise en compte des
          risques numériques dans votre organisation.
          <br />
          <br />
          ⏱️
          <strong
            >5 min. seulement pour obtenir une évaluation indicative</strong
          >
          et voir où vous vous situez par rapport aux autres organisations ayant
          déjà réalisé le test de maturité cyber.
        </p>
      </hgroup>
      <dsfr-button
        label="Débuter le test"
        kind="primary"
        size="lg"
        has-icon
        icon="arrow-right-circle-fill"
        icon-place="right"
        markup="a"
        href="/test-maturite"
      ></dsfr-button>
      <msc-lien
        id="lien-session-groupe"
        href="/session-groupe"
        libelle="Disponible aussi pour les sessions en groupe"
      ></msc-lien>
      <p class="texte-mention-xs">
        La maturité cyber n’est pas une évaluation du niveau de sécurité des
        systèmes d’information d’une organisation mais de sa posture à l’égard
        des enjeux cyber.
      </p>
    </div>
    <div class="barometre">
      <hgroup>
        <h3 class="fr-h6">Baromètre de la maturité cyber</h3>
        <p class="texte-detail-sm">
          Répartition de la maturité cyber des organisations sur l’ensemble des
          tests réalisés.
        </p>
      </hgroup>
      {% include composant-svelte.html id="barometre-simplifie" %}
    </div>
  </div>
</dsfr-container>

<dsfr-container class="interlocuteurs fond-bleu-france-850">
  <div class="contenu-interlocuteurs" >
    {% include composant-svelte.html id="carrousel-des-interlocuteurs" %}
  </div>
</dsfr-container>

<dsfr-container class="equipe-bizdev fond-cafe-creme">
  <div class="contenu-section" id="" >
    {% include composant-svelte.html id="equipe-biz-dev" %}
  </div>
</dsfr-container>

<dsfr-container class="communaute-msc fond-moutarde">
  <div class="conteneur">
    <div class="conteneur-titre-description">
      <h2 class="fr-h1">Rejoignez la communauté&nbsp;!</h2>
      <p class="description">Échangez avec vos pairs, découvrez les fonctionnalités en avant-première et participez activement au développement des outils.</p>
    </div>

    <lab-anssi-carrousel-tuiles>
      <dsfr-card title="Échanger" has-description description="Directement avec vos pairs pour une collaboration facilitée" no-link>
        <div class="illustration-container" slot="image">
          <span class="illustration bleu">
            <img src="/assets/images/emoji-bulle.svg" alt="" />
          </span>
        </div>
      </dsfr-card>
      <dsfr-card title="Découvrir" has-description description="Les nouvelles fonctionnalités en avant-première" no-link>
        <div class="illustration-container" slot="image">
          <span class="illustration macaron">
            <img src="/assets/images/emoji-ordinateur.svg" alt="" />
          </span>
        </div>
      </dsfr-card>
      <dsfr-card title="Contribuer" has-description description="Partagez vos besoins et suggestions d'amélioration" no-link>
        <div class="illustration-container" slot="image">
          <span class="illustration bourgeon">
            <img src="/assets/images/emoji-crayon.svg" alt="" />
          </span>
        </div>
      </dsfr-card>
    </lab-anssi-carrousel-tuiles>

    <dsfr-button label="Rejoindre la communauté" kind="secondary" markup="a" href="https://tally.so/r/wa6o22" target="_blank"></dsfr-button>
  </div>
</dsfr-container>

<dsfr-container class="partenaires">
  <h2 class="fr-h1">
    Ils s'engagent pour Mes&ZeroWidthSpace;Services&ZeroWidthSpace;Cyber
  </h2>
  <div class="logos">
    <img
      src="/assets/images/logo-afcdp.avif"
      alt="Association Française des Correspondants à la protection des Données à caractère Personnel (AFCDP)"
      width="146"
    />
    <img
      src="/assets/images/logo-amrf.avif"
      alt="Association des Maires Ruraux de France (AMRF)"
      width="136"
    />
    <img
      src="/assets/images/logo-anct.svg"
      alt="Agence Nationale de la Cohésion des Territoires (ANCT)"
      width="198"
    />
    <img
      src="/assets/images/logo-cyber-reunion.avif"
      alt="Cyber Réunion - Experts en Cybersécurité à La Réunion"
      width="210"
    />
    <img
      src="/assets/images/logo-elipso.avif"
      alt="ELIPSO - Association des fabricants d’emballages plastiques et souples"
      width="154"
    />
    <img
      src="/assets/images/logo-ficam.avif"
      alt="Fédération des industries du cinéma, de l’audiovisuel et du multimédia (FICAM)"
      width="129"
    />
    <img
      src="/assets/images/logo-gifen.avif"
      alt="Groupement des Industriels Français de l’Energie Nucléaire (GIFEN)"
      width="121"
    />
    <img
      src="/assets/images/logo-suite-territoriale.svg"
      alt="La Suite territoriale"
      width="152"
    />
    <img
      src="/assets/images/logo-club-dpo.avif"
      alt="Le Club DPO - Communauté d'experts en protection des données"
      width="140"
    />
    <img
      src="/assets/images/logo-spiil.avif"
      alt="Syndicat de la Presse Indépendante en Ligne (SPIIL)"
      width="146"
    />
    <img
      src="/assets/images/logo-umih.svg"
      alt="Union des Métiers et des Industries de l'Hôtellerie (UMIH)"
      width="110"
    />
  </div>
</dsfr-container>

<dsfr-container class="anssi fond-cafe-creme">
  <lab-anssi-presentation-anssi></lab-anssi-presentation-anssi>
</dsfr-container>
