---
layout: catalogue
permalink: /catalogue/
titreHtml: "Les services et ressources cyber | MesServicesCyber"
---

<script
        type="module"
        crossorigin
        src="/lib-svelte/dist/assets/catalogue.js"
></script>

{% include script-donnees-json.html repartition=site.data.catalogue %}

<div id="catalogue"></div>

{% include encart-nis2.html fond='sombre' %}

<div class="encart fond-clair">
  <div class="contenu-section">
    <h1>Découvrir notre sélection de services et ressources</h1>
    <div class="liste-parcours">
      <div class="carte parcours">
        <img
                src="/assets/images/debuter-cyber.png"
                alt="Illustration débutant cyber"
        />
        <h2>Les services pour se lancer en cybersécurité</h2>
        <p>
          Découvrez les services et les ressources pour aider votre organisation à se lancer dans une démarche de
          renforcement de la cybersécurité.
        </p>
        <a href="/parcours-debuter" class="lien">Découvrir</a>
      </div>
      <div class="carte parcours">
        <img
                src="/assets/images/approfondir-cyber.png"
                alt="Illustration approfondir cyber"
        />
        <h2>Les services pour approfondir la cybersécurité</h2>
        <p>
          Découvrez les services et les ressources pour aider votre organisation à approfondir la démarche de
          renforcement de la cybersécurité.
        </p>
        <a href="/parcours-approfondir" class="lien">Découvrir</a>
      </div>
    </div>
  </div>
</div>
