---
layout: sans-menu
permalink: /connexion/
titreHtml: 'Connexion | MesServicesCyber'
styles: /assets/styles/connexion.css
---

{% if site.env.FEATURE_FLAG_NOUVELLE_DA == 'true' %}
<link rel="stylesheet" href="{{ "/assets/styles/connexion-nouvelle-da.css" | relative_url }}">
{% endif %}

<script type="module" src="/scripts/connexion.js"></script>

<dsfr-container class="connexion">
  <div class="contenu-section">
    <div class="contenu-principal">
      <div>
        <h1>
          Connectez-vous à <span class="nowrap">MesServicesCyber</span>
        </h1>
        <p>
          Connectez-vous pour profiter d’une expérience personnalisée et accéder
          à tous nos services.
        </p>
        <dsfr-connect data-themeable="false" href="/oidc/connexion"></dsfr-connect>
        <div class="pas-de-compte">
          <p>Vous n’avez pas encore de compte ?</p>
          <msc-lien href="/inscription" libelle="S’inscrire"></msc-lien>
        </div>
      </div>
    </div>
    <div class="contenu-secondaire">
      {% if site.env.FEATURE_FLAG_NOUVELLE_DA == 'true' %}
      <img src="/assets/images/illustration-connexion-nouvelle-da.avif" width="560" height="560" alt="" />
      {% else %}
      <img src="/assets/images/illustration-connexion.svg" width="560" height="420" alt="" />
      {% endif %}
    </div>
  </div>
</dsfr-container>
