---
layout: defaut
permalink: /directive-nis2/
titreHtml: 'Directive NIS 2 | MesServicesCyber'
styles:
  - /assets/styles/dsfr.css
  - /assets/styles/controle-segmente.css
  - /assets/styles/carte-item.css
---

<script type="application/json" id="donnees-nis2">
  {
  "featureFlagExigencesNis2": {% if site.env.FEATURE_FLAG_EXIGENCES_NIS2 == 'true' %}true{% else %}false{% endif %}
  }
</script>
<script
  type="module"
  crossorigin
  src="/lib-svelte/dist/assets/page-directive-nis2.js"
></script>
<div id="page-directive-nis2"></div>

{% include script-donnees-json.html %}