---
layout: parcours
permalink: /nis2/
titreHtml: 'Votre entité est régulée NIS2 ? | MesServicesCyber'
---

<script
  type="module"
  crossorigin
  src="/lib-svelte/dist/assets/fil-ariane.js"
></script>

<script type="application/json" id="donnees">
  {
    "branche": {
      "nom": "Découvrir nos sélections"
    },
    "brancheConnectee": {
      "nom": "Nos sélections"
    },
    "feuille": "Vous accompagner avec NIS2"
  }
</script>

<section class="chapeau fond-sombre nis2">
  <div class="contenu-section">
    <div id="fil-ariane"></div>
    <h1>Votre entité est régulée NIS2&nbsp;?</h1>
    <p>
      La directive NIS 2 vise à renforcer le niveau de cybersécurité des tissus
      économique et administratif des pays membres de l'UE. Découvrez les
      services et ressources pouvant accompagner les entités régulées par la
      directive.
    </p>
  </div>
</section>

<section class="sommaire">
  <div class="contenu-section">
    <div class="controle-segmente">
      {% for action in site.data.nis2 %}
      <a
        href="#{{action[0]}}"
        class="{%if forloop.first%}actif{% endif %} bouton-segmente"
        >{{action[1].titre}}</a
      >
      {% endfor %}
    </div>
  </div>
</section>

{% for action in site.data.nis2 %}
  {%assign indexModulo2 = forloop.index0 | modulo: 2 %}
  {%if indexModulo2 == 1 %}
    {%assign fondAlternatif=true%}
  {%else%}
    {%assign fondAlternatif=false%}
  {%endif%}
  {% assign idAction=action[0] %}
  {% assign infosAction=action[1] %}
  {% include action-parcours-avec-items.html
    id=idAction
    titre=infosAction.titre
    explication=infosAction.explication
    parcours=infosAction.parcours
    items=infosAction.items
    fondAlternatif=fondAlternatif
  %}
{% endfor %}
