---
layout: parcours
permalink: /parcours-debuter/
titreHtml: 'Cybersécurité : se lancer ! | MesServicesCyber'
---

<script type="application/json" id="donnees-fil-ariane">
  {
    "branche": {
      "nom": "Découvrir nos sélections"
    },
    "brancheConnectee": {
      "nom": "Nos sélections"
    },
    "feuille": "Les services pour se lancer",
    "fondSombre": true
  }
</script>

<dsfr-container class="chapeau fond-sombre">
  <div class="contenu-section">
    {% include composant-svelte.html id="fil-ariane" %}
    <h1 class="alternatif-xs-ns">Les services pour se lancer</h1>
    <p class="texte-chapo-xl-ns">
      Votre organisation souhaite mettre en œuvre des premières actions
      concrètes pour commencer à renforcer son niveau de cybersécurité.
      Découvrez des services et ressources sélectionnés par l’ANSSI pour vous
      aider.
    </p>
    <div class="cta">
      <p class="texte-chapo-xl-ns">Bénéficier d’un diagnostic cyber gratuit pour renforcer rapidement la cybersécurité de votre organisation.</p>
      <msc-lien
        apparence="bouton"
        href="/cyberdepart"
        libelle="Demander mon diagnostic cyber"
        taille="lg"
      ></msc-lien>
    </div>
  </div>
</dsfr-container>

{%assign actions = site.data.parcours-debuter.actions %}
<dsfr-container class="sommaire">
  <div class="contenu-section">
    <dsfr-segmented
      no-legend
      elements="{{actions | jsonify | escape }}"
      value="0">
    </dsfr-segmented>
  </div>
</dsfr-container>

{% for action in actions %}
  {%assign indexModulo2 = forloop.index0 | modulo: 2 %}
  {%if indexModulo2 == 1 %}
    {%assign fondAlternatif=true%}
  {%else%}
    {%assign fondAlternatif=false%}
  {%endif%}
  {% assign idAction=action.id %}
  {% include action-parcours-avec-items.html
    id=idAction
    titre=action.label
    explication=action.explication
    parcours=action.parcours
    items=action.items
    fondAlternatif=fondAlternatif
  %}
{% endfor %}

{% include encart-cyberdepart.html fond='sombre' %}
