---
layout: parcours
permalink: /parcours-approfondir/
titreHtml: "Cybersécurité : approfondir ! | MesServicesCyber"
---

<section class="chapeau fond-sombre">
  <div class="contenu-section">
    <div class="fil-ariane">
      <a href="/">Accueil</a>
      <span><img src="/assets/images/icone-chevron-droite.svg" alt=""/> </span>
      <span>Découvrir notre sélection</span>
      <span><img src="/assets/images/icone-chevron-droite.svg" alt=""/> </span>
      <span>Les services pour approfondir</span>
    </div>
    <h1>Les services pour approfondir</h1>
    <p>
      Votre organisation a déjà mis en œuvre des premières actions pour renforcer sa cybersécurité et souhaite
      approfondir la démarche engagée ? Découvrez des services et ressources sélectionnés par l’ANSSI pour vous
      aider.
    </p>
    <div class="cta">
      <p>Votre entité est régulée NIS2 ?</p>
      <a href="/nis2" class="bouton primaire">Découvrir les services adaptés</a>
    </div>
  </div>
</section>

<section class="sommaire">
  <div class="contenu-section">
    <div class="groupe-boutons">
      {% for action in site.data.parcours-approfondir %}
      <a href="#{{action[0]}}" class="{%if forloop.first%}actif{% endif %} bouton secondaire">{{action[1].titre}}</a>
      {% endfor %}
    </div>
  </div>
</section>

{% for action in site.data.parcours-approfondir %}
  {%assign indexModulo2 = forloop.index0 | modulo: 2 %}
  {%if indexModulo2 == 1 %}{%assign fondAlternatif=true%}{%else%}{%assign fondAlternatif=false%}{%endif%}
  {% assign idAction=action[0] %}
  {% assign infosAction=action[1] %}
  {% include action-parcours-avec-items.html
    id=idAction
    titre=infosAction.titre
    explication=infosAction.explication
    parcours=infosAction.parcours
    items=infosAction.items
    fondAlternatif=fondAlternatif
  %}
{% endfor %}

{% include encart-nis2.html fond='sombre' %}