---
layout: parcours
permalink: /parcours-debuter/
titreHtml: 'Cybersécurité : se lancer ! | MesServicesCyber'
---
{% capture segments_json %}
[
  {
    "id": "noeud-accueil",
    "label": "Accueil",
    "href": "/"
  },
  {
    "id": "noeud-parcours-debuter",
    "label": "Les services pour se lancer"
  }
]
{% endcapture %}
<lab-anssi-bandeau-page
  avec-fil-ariane
  description="Votre organisation a déjà mis en œuvre des premières actions pour renforcer sa cybersécurité et souhaite approfondir la démarche engagée ? Découvrez des services et ressources sélectionnés par l’ANSSI pour vous aider."
  liens-fil-ariane="{{segments_json | strip | escape }}"
  simple
  titre="Les services pour se lancer"
  inverse
>
  <h1 slot="seo">Les services pour se lancer</h1>
  <p slot="seo">Votre organisation souhaite mettre en œuvre des premières actions concrètes pour commencer à renforcer son niveau de cybersécurité. Découvrez des services et ressources sélectionnés par l’ANSSI pour vous aider.</p>
  <ol slot="seo">
    <li>
      <a href="/">Accueil</a>
    </li>
    <li>
      <span>Les services pour se lancer</span>
    </li>
  </ol>
</lab-anssi-bandeau-page>

{%assign actions = site.data.parcours-debuter.actions %}
<dsfr-container class="sommaire">
  <div class="contenu-section">
    <dsfr-segmented
      no-legend
      elements="{{actions | jsonify | escape }}"
      value="0">
    </dsfr-segmented>
  </div>
</dsfr-container>

{% for action in actions %}
  {%assign indexModulo3 = forloop.index0 | modulo: 3 %}
  {%if indexModulo3 == 1 %}
    {%assign fond="moutarde"%}
  {%elsif indexModulo3 == 2 %}
    {%assign fond="creme"%}
  {%else%}
    {%assign fond="default"%}
  {%endif%}
  {% assign idAction=action.id %}
  {% include action-parcours-avec-items.html
    id=idAction
    titre=action.label
    explication=action.explication
    parcours=action.parcours
    items=action.items
    fond=fond
  %}
{% endfor %}
