---
layout: parcours
permalink: /parcours-debuter/
titreHtml: 'Cybersécurité : se lancer ! | MesServicesCyber'
---

<script
  type="module"
  crossorigin
  src="/lib-svelte/dist/assets/fil-ariane.js"
></script>

<script type="application/json" id="donnees">
  {
    "branche": {
      "nom": "Découvrir notre sélection"
    },
    "brancheConnectee": {
      "nom": "Notre sélection"
    },
    "feuille": "Les services pour se lancer"
  }
</script>

<section class="chapeau fond-sombre">
  <div class="contenu-section">
    <div id="fil-ariane"></div>
    <h1>Les services pour se lancer</h1>
    <p>
      Votre organisation souhaite mettre en œuvre des premières actions
      concrètes pour commencer à renforcer son niveau de cybersécurité.
      Découvrez des services et ressources sélectionnés par l’ANSSI pour vous
      aider.
    </p>
    <div class="cta">
      <p>Votre entité est régulée NIS2 ?</p>
      <a href="/nis2" class="bouton primaire">Découvrir les services adaptés</a>
    </div>
  </div>
</section>

<section class="sommaire">
  <div class="contenu-section">
    <div class="groupe-boutons">
      {% for action in site.data.parcours-debuter %}
      <a
        href="#{{action[0]}}"
        class="{%if forloop.first%}actif{% endif %} bouton secondaire"
        >{{action[1].titre}}</a
      >
      {% endfor %}
    </div>
  </div>
</section>

{% for action in site.data.parcours-debuter %}
  {%assign indexModulo2 = forloop.index0 | modulo: 2 %}
  {%if indexModulo2 == 1 %}
    {%assign fondAlternatif=true%}
  {%else%}
    {%assign fondAlternatif=false%}
  {%endif%}
  {% assign idAction=action[0] %}
  {% assign infosAction=action[1] %}
  {% include action-parcours-avec-items.html
    id=idAction
    titre=infosAction.titre
    explication=infosAction.explication
    parcours=infosAction.parcours
    items=infosAction.items
    fondAlternatif=fondAlternatif
  %}
{% endfor %}

{% include encart-nis2.html fond='sombre' %}