<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">
{% include head.html extra-css=layout.style extra-js=layout.script %}
<body>

{% if site.env.MATOMO_ID != '' and site.env.MATOMO_ID != undefined %}
    <script type='module' src='/scripts/matomo.js' data-id-site-matomo="{{ site.env.MATOMO_ID }}" id="script-matomo"></script>
{% endif %}
{% if site.env.MATOMO_URL_TAG_MANAGER != '' and site.env.MATOMO_URL_TAG_MANAGER != undefined %}
    {% include script-matomo-tag-manager.html %}
{% endif %}

<main>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
</main>
</body>
</html>
