---
layout: defaut
style: /assets/styles/page-statique.css
---

<section class="chapeau fond-sombre chapeau-page-statique">
  <div class="contenu-section">
    {% if page.filAriane %}
      <script
        type="module"
        crossorigin
        src="/lib-svelte/dist/assets/fil-ariane.js"
      ></script>

      <script type="application/json" id="donnees">
        {
          "feuille": "{{page.filAriane}}"
        }
      </script>

      <div id="fil-ariane"></div>
    {% endif %}
    <h1>{{page.titrePageStatique}}</h1>
    {% if page.sousTitrePageStatique %}
    <p>{{page.sousTitrePageStatique}}</p>
    {% endif %}
  </div>
</section>

<section class="contenu-page-statique">
  <div class="contenu-section">
    {{content}}
  </div>
</section>