---
layout: defaut
styles: /assets/styles/page-statique.css
---

<dsfr-container class="chapeau fond-sombre chapeau-page-statique">
    {% if page.filAriane %}
    <script type="application/json" id="donnees-fil-ariane">
      {
        "feuille": "{{page.filAriane}}"
      }
    </script>

    {% include composant-svelte.html id="fil-ariane" %}
    {% endif %}
    <h1 class="alternatif-xs-ns">{{page.titrePageStatique}}</h1>
    {% if page.sousTitrePageStatique %}
    <p class="texte-chapo-xl-ns">{{page.sousTitrePageStatique}}</p>
    {% endif %}
</dsfr-container>

<dsfr-container class="contenu-page-statique">
  <div class="contenu-section">{{content}}</div>
</dsfr-container>
