---
layout: defaut
style: /assets/styles/service.css
script: /scripts/service.js
---

<section class="chapeau">
    <div class="fil-ariane">
        <a href="/">Accueil</a>
        <span><img src="/assets/images/icone-chevron-droite.svg"/> </span>
        <a href="/catalogue/">Les services et ressources cyber</a>
        <span><img src="/assets/images/icone-chevron-droite.svg"/></span>
        <span>{{page.nom}}</span>
    </div>
    <div class="resume">
        <div>
            <span class="badge service">Service</span>
            <h1>{{page.nom}}</h1>
            <p>{{page.description}}</p>
            <a href="{{page.lien}}" target="_blank" class="bouton primaire">Accéder au service</a>
        </div>
        <div>
            <img src="/assets/images/illustrations-services/{{ page.illustration }}"/>
        </div>
    </div>
</section>

<div class="article">
    <div class="sommaire sommaire-replie">
        <details>
            <summary>
                <div class="entete-filtres">
                    <img class="menu" src="/assets/images/icone-menu-lateral.svg"/>
                    <span id="section-active" class="titre-menu">De quoi s'agit-il&nbsp;?</span>
                    <img class="chevron" src="/assets/images/icone-chevron-bas.svg"/>
                </div>
            </summary>

            <ul>
                <li class="actif"><a href="#explication">De quoi s'agit-il&nbsp;?</a></li>
                <li><a href="#cible">Qui peut utiliser ce service&nbsp;?</a></li>
                <li><a href="#ressources">Les ressources associées</a></li>
            </ul>
        </details>
    </div>

    <div class="sommaire sommaire-deplie">
        <ul>
            <li class="actif"><a href="#explication">De quoi s'agit-il&nbsp;?</a></li>
            <li><a href="#cible">Qui peut utiliser ce service&nbsp;?</a></li>
            <li><a href="#ressources">Les ressources associées</a></li>
        </ul>
        <span>TAGS</span>
        <div class="labels">
            {% for source in page.sources %}
            <span>{{source}}</span>
            {% endfor %}
        </div>
    </div>

    <div class="contenu">
        <section class="explication" id="explication">
            <img src="/assets/images/illustrations-services/{{ page.illustration }}"/>
            <h2>De quoi s'agit-il&nbsp;?</h2>
            <div>{{ page.content }}</div>
            <a href="{{page.lien}}" target="_blank" class="bouton primaire">Accéder au service</a>
        </section>

        <section class="cible" id="cible">
            <h2>Qui peut utiliser ce service&nbsp;?</h2>
            <span>{{ page.cibleService }}</span>

            <div class="cartes">
                {% for lien in page.liens %}
                <div class="carte lien">
                    <div class="illustration" style="background-color: {{lien.couleurFond}}">
                        <img src="/assets/images/illustrations-services/{{ lien.illustration }}">
                    </div>
                    <a href="{{ lien.lien }}" target="_blank">{{ lien.titre }}</a>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="ressources" id="ressources">
            <h2>Les ressources associées</h2>
            {% for idRessource in page.ressources %}
            {% assign ressource = site.ressources | where: "id", idRessource | first %}

            <div class="carte ressource">
                <figure>
                    <img src="/assets/images/illustrations-services/{{ressource.illustration}}">
                    <figcaption>{{ressource.format}}</figcaption>
                </figure>
                <div class="contenu">
                    <h3>{{ressource.titre}}</h3>
                    <span>{{ressource.description}}</span>
                    <a href="{{ressource.url}}">En savoir plus
                        <img src="/assets/images/icone-fleche-droite.svg">
                    </a>
                    <div class="labels">
                        {% for source in ressource.sources %}
                        <span>{{source}}</span>
                        {% endfor %}
                        <a class="lien-externe" href="{{ressource.lien}}" target="_blank"><img
                                src="/assets/images/icone-lien-externe.svg"> </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>

        <section class="haut-de-page">
            <a href="#haut-de-page">Haut de page</a>
        </section>
    </div>
</div>