<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " fr" }}">
{% include head.html extra-css="/assets/service.css" %}
<body>
<main>
    <header>
        <nav>
            <a href="/"><img src="/assets/images/marianne-dark.svg" class="marianne"/></a>
            <button class="menu">
                <img src="/assets/images/icone-menu.svg"/>
            </button>
        </nav>
    </header>
    <div class="chapeau">
        <h1>{{page.nomDuService}}</h1>
    </div>
</main>

</body>
</html>