<script type="application/json" id="donneesAvisUtilisateur">
  {
    "featureFlagAvisUtilisateur": {% if site.env.FEATURE_FLAG_AVIS_UTILISATEUR == 'true' %}true{% else %}false{% endif %},
    "delaiAffichageAvisUtilisateur": {% if site.env.DELAI_AFFICHAGE_AVIS_UTILISATEUR != '' and site.env.DELAI_AFFICHAGE_AVIS_UTILISATEUR != undefined %}{{ site.env.DELAI_AFFICHAGE_AVIS_UTILISATEUR }}{% else %}20{% endif %}
  }
</script>

<script
  type="module"
  crossorigin
  src="/lib-svelte/dist/assets/avis-utilisateur.js"
></script>

<div id="avis-utilisateur"></div>
