{%- assign src = include.src | default: page -%}

<dsfr-container>
  <div class="contacts">
    <h2>Contacts {{ src.region.label }}</h2>

    {%- if src.cot %}
    <div class="carte-contact">
      <h3>Délégué(e)s ANSSI de votre région</h3>
      <p class="nom">
        {%- for d in src.cot.delegues -%}
          {{ d }}{%- if forloop.last == false -%} / {%- endif -%}
        {%- endfor -%}
      </p>

      {%- if src.cot.emails %}
      <p class="email">
        {%- for e in src.cot.emails -%}
          <msc-lien libelle="{{ e.label }}" href="{{ e.href }}"></msc-lien>
        {%- endfor -%}
      </p>
      {%- elsif src.cot.email %}
      <p class="email">
        <msc-lien libelle="{{ src.cot.email }}" href="mailto:{{ src.cot.email }}"></msc-lien>
      </p>
      {%- endif -%}
    </div>
    {%- endif -%}

    {%- if src.services %}
      {%- for s in src.services -%}
      <div class="carte-contact">
        <h3>{{ s.titre }}</h3>

        {%- if s.telephone %}
        <p class="telephone">
          <msc-lien libelle="{{ s.telephone }}" href="tel:{{ s.telephone | replace: ' ', '' }}"></msc-lien>
        </p>
        {%- endif -%}

        {%- if s.site %}
        <p class="site-web">
          <msc-lien libelle="{{ s.site }}" href="{{ s.site }}"></msc-lien>
        </p>
        {%- endif -%}

        {%- if s.adresse %}
        <p class="adresse">
          {{ s.adresse }}
        </p>
        {%- endif -%}
      </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
</dsfr-container>
