<dsfr-container class="encart fond-{{ include.fond }}">
  <div class="carte nis2 fond-clair">
    <img
      src="/assets/images/directive-nis2.svg"
      alt="Découvrir les services pour les entités régulées NIS2"
    />
    <h2>Votre entité est régulée NIS2&nbsp;?</h2>
    <p>Découvrez tous les services accessibles aux entités regulées NIS2.</p>
    <msc-lien
      href="/nis2"
      apparence="bouton"
      libelle="Découvrir les services adaptés"
      taille="lg"
    ></msc-lien>
  </div>
</dsfr-container>
