<section class="encart fond-{{ include.fond }}">
  <div class="contenu-section">
    <div class="carte parcours cyber-depart">
      <img
        src="/assets/images/dragon-kart.svg"
        alt="Illustration diagnostic cyber"
        class="illustration"
      />
      <h2>Bénéficiez d’un diagnostic cyber gratuit</h2>
      <p>
        Vous souhaitez <b>protéger votre organisation contre les cyberattaques</b> mais ne savez pas par quoi commencer
        ?
        <b>Prenez votre cyberdépart</b> avec un <b>premier diagnostic gratuit</b> et anonyme d'une heure dans vos locaux
        <b>accompagné
          par un Aidant de la communauté MonAideCyber</b>.
      </p>
      <a href="/cyberdepart" class="bouton primaire">
        Demander mon diagnostic cyber
      </a>
    </div>
  </div>
</section>