<section class="encart fond-{{ include.fond }}">
  <div class="contenu-section">
    <div class="carte nis2">
      <img
        src="/assets/images/directive-nis2.svg"
        alt="Découvrir les services pour les entités régulées NIS2"
      />
      <h1>Votre entité est régulée NIS2&nbsp;?</h1>
      <p>Découvrez tous les services accessibles aux entités regulées NIS2.</p>
      <msc-lien
        href="/nis2"
        apparence="bouton"
        libelle="Découvrir les services adaptés"
        taille="lg"
      ></msc-lien>
    </div>
  </div>
</section>
