{% assign liensBas = '[
  {"label":"À propos","href":"/aPropos"},
  {"label":"Mentions légales","href":"/mentionsLegales"},
  {"label":"Politique de confidentialité","href":"/confidentialite"},
  {"label":"Conditions générales","href":"/cgu"},
  {"label":"Statistiques d’utilisation","href":"/statistiques"},
  {"label":"Sécurité","href":"/securite"},
  {"label":"Accessibilité : non conforme","href":"/accessibilite"},
  {"label":"Protéger ma collectivité","href":"/collectivites"},
  {"label":"Protéger mon entreprise","href":"/entreprises"},
  {"label":"Protéger mon association","href":"/associations"}
]' | escape %}
<dsfr-footer
  id="pied"
  brand-link-href="/"
  brand-link-title="Retour à l'accueil du site - Mes&ZeroWidthSpaceServices&ZeroWidthSpaceCyber - République Française"
  has-description
  content-description="slot"
  bottom-links="{{ liensBas }}">
  <p slot="description">
    MesServicesCyber est la plateforme pour faciliter l'accès de tous aux
    services et ressources de l'ANSSI et de ses partenaires.
  </p>
  <p slot="description">
    Il est développé par l'
    <dsfr-link href="https://cyber.gouv.fr/" size="sm" blank label="Agence nationale de la sécurité des systèmes d'information"></dsfr-link>,
    en lien avec
    <dsfr-link href="https://beta.gouv.fr/" size="sm" blank label="BetaGouv"></dsfr-link>
    et la
    <dsfr-link href="https://www.numerique.gouv.fr/dinum/" size="sm" blank label="Direction interministérielle du numérique"></dsfr-link>.
  </p>
</dsfr-footer>
