<footer>
  <div class="contenu-section">
    <div class="officiel">
      <div class="bloc-france">
        <img class="marianne" src="/assets/images/marianne-dark.svg" alt="Logo République Française">
      </div>
      <div class="info-msc">
        <p>MesServicesCyber est la plateforme pour faciliter l'accès de tous aux services et ressources de l'ANSSI et de ses partenaires.</p>
        <p>Il est développé par l'<a href="https://cyber.gouv.fr/" class="lien" target="_blank">Agence nationale de la
          sécurité des
          systèmes d'information</a>, en lien avec
          <a href="https://beta.gouv.fr/" class="lien" target="_blank">BetaGouv</a> et
          la <a href="https://www.numerique.gouv.fr/dinum/" class="lien">Direction interministérielle du numérique</a>.
        </p>
        <div class="liens-externes">
          <a href="https://info.gouv.fr" target="_blank" class="lien">info.gouv.fr</a>
          <a href="https://service-public.fr" target="_blank" class="lien"> service-public.fr</a>
          <a href="https://legifrance.gouv.fr" target="_blank" class="lien">legifrance.gouv.fr</a>
          <a href="https://data.gouv.fr" target="_blank" class="lien">data.gouv.fr</a>
        </div>
      </div>
    </div>
    <div class="liens-internes">
      <a href="/aPropos" class="lien">À propos</a>
      <hr/>
      <a href="/mentionsLegales" class="lien">Mentions légales</a>
      <hr/>
      <a href="#a" class="lien">Politique de confidentialité</a>
      <hr/>
      <a href="#a" class="lien">Conditions générales</a>
      <hr/>
      <a href="#a" class="lien">Statistiques d'utilisation</a>
    </div>
  </div>
</footer>
