<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% for baliseMeta in layout.balisesMeta %}
  {% assign contenu = baliseMeta.contenu | replace: 'SITE_URL', site.url %}
  <meta property="{{baliseMeta.propriete}}" content="{{contenu}}">
  {% endfor %}
  {% if site.env.GOOGLE_SEARCH_CONSOLE_VERIFICATION != '' and site.env.GOOGLE_SEARCH_CONSOLE_VERIFICATION != undefined %}
    <meta name="google-site-verification" content="{{site.env.GOOGLE_SEARCH_CONSOLE_VERIFICATION}}">
  {% endif %}

  <title>{{page.titreHtml}}</title>
  <meta name="description" content="{{ site.data.meta-description[page.url] | escape }}">

  <link rel="stylesheet" href="{{ "/assets/styles/site.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/styles/boutons.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/styles/controle-segmente.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/styles/fonts.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/lib-svelte/dist/assets/style.css" | relative_url }}">
  {% for style in layout.styles %}
    <link rel="stylesheet" href="{{ style | relative_url }}">
  {% endfor %}
  {% for style in page.styles %}
  <link rel="stylesheet" href="{{ style | relative_url }}">
  {% endfor %}

  {% if include.extra-js %}
    <script src="{{ include.extra-js | relative_url }}" type="module"></script>
  {% endif %}
</head>
