<header id="haut-de-page" class="fr-header__brand">
  <div class="contenu-section">
    <a href="/">
      <img
              src="/assets/images/marianne-dark.svg"
              class="marianne"
              alt="Marianne"
      />
    </a>

    <a href="/" class="titre-msc" aria-label="Retour à l’accueil">
      <img class="logo-anssi" src="/assets/images/logo-anssi.svg" alt="Logo ANSSI"/>
      <div class="titre-site">
        <h1>MesServicesCyber <span class="beta">Bêta</span></h1>
        <h2>Innovation ANSSI</h2>
      </div>
    </a>

    <script
      type="module"
      crossorigin
      src="/lib-svelte/dist/assets/identification.js"
    ></script>

    <div id="zone-identification">
    </div>

    <button class="ouverture-menu" id="menu-mobile-ouvrir">
      <img src="/assets/images/icone-menu.svg" alt="Menu burger"/>
    </button>

    <nav class="menu-mobile invisible" id="menu-mobile">
      <a class="fermer" id="menu-mobile-fermer">Fermer</a>
      <div class="choix">
        <a href="/" {% if page.url== '/' %} class="actif" {% endif %}>Accueil</a>
        <a href="/catalogue/" {% if page.url== '/catalogue/' %} class="actif" {% endif %}>Explorer le catalogue de
        services complet</a>
        <a href="/nis2/" {% if page.url== '/nis2/' %} class="actif" {% endif %}>Vous accompagner avec NIS2</a>
        <details {% if page.url==
        '/parcours-debuter/' or page.url == '/parcours-approfondir/' %}open {% endif %}>
        <summary>Découvrir notre sélection</summary>
        <a href="/parcours-debuter/" {% if page.url== '/parcours-debuter/' %} class="actif" {% endif %}>Les services pour
        se lancer</a>
        <a href="/parcours-approfondir/" {% if page.url== '/parcours-approfondir/' %} class="actif" {% endif
        %}>Les services pour approfondir</a>
        </details>
        <a href="/test-maturite/" {% if page.url== '/test-maturite/' %} class="actif" {% endif %}>Tester votre maturité
        cyber</a>
      </div>
    </nav>
  </div>
</header>

<nav class="conteneur-nav">
  <nav class="contenu-section">
    <a href="/" {% if page.url== '/' %} class="actif" {% endif %}>Accueil</a>
    <a href="/catalogue/" {% if page.url== '/catalogue/' %} class="actif" {% endif %}>Explorer le catalogue
    </a>
    <a href="/nis2/" {% if page.url== '/nis2/' %} class="actif" {% endif %}>Vous accompagner avec NIS2</a>
    <details {% if page.url==
    '/parcours-debuter/' or page.url == '/parcours-approfondir/' %} class="actif" {% endif %}>
    <summary>Découvrir notre sélection</summary>
    <div class="choix">
      <a href="/parcours-debuter/" {% if page.url== '/parcours-debuter/' %} class="actif" {% endif %}>Les services pour se
      lancer</a>
      <a href="/parcours-approfondir/" {% if page.url== '/parcours-approfondir/' %} class="actif" {% endif
      %}>Les services pour approfondir</a>
    </div>
    </details>
    <a href="/test-maturite/" {% if page.url== '/test-maturite/' %} class="actif" {% endif %}>Tester votre maturité
    cyber</a>
  </nav>
</nav>