<header id="haut-de-page" class="fr-header__brand">
  <div class="contenu-section">
    <a href="/">
      <img
              src="/assets/images/marianne-dark.svg"
              class="marianne"
              alt="Marianne"
      />
    </a>

    <a href="/" class="titre-msc" aria-label="Retour à l’accueil">
      <img class="logo-anssi" src="/assets/images/logo-anssi.svg" alt="Logo ANSSI"/>
      <div class="titre-site">
        <h1>MesServicesCyber</h1>
        <h2>Innovation ANSSI</h2>
      </div>
    </a>

    <script
      type="module"
      crossorigin
      src="/lib-svelte/dist/assets/identification.js"
    ></script>
    
    <div id="zone-identification"></div>

    <div id="menu-burger-mobile"></div>
  </div>
</header>

<script
  type="module"
  crossorigin
  src="/lib-svelte/dist/assets/navigation.js"
></script>

<div id="navigation"></div>