<script type="application/json" id="donnees">
  {
    "itemsCyber": [
      {% assign items = site.services | concat: site.ressources %}
      {% for item in items %}
      {
        "id": "{{ item.id }}",
        "nom": "{{ item.nom }}",
        "typologie": "{{ item.typologie }}",
        "illustration": "{{ item.illustration }}",
        "description": "{{ item.description }}",
      {% if item.avecFicheDetaillee %} "lienInterne": "{{ item.url }}", {% endif %}
      "lienExterne": "{{ item.lien }}",
      "sources": {{ item.sources | jsonify }},
      "droitsAcces": {{ item.droitsAcces | jsonify }}{% if item.typologie == 'ressource'%},
      "format": "{{ item.format }}"
      {% endif %}
    }
      {% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
    {% if include.repartition %}
    ,
    "repartition": {
      "ETRE_SENSIBILISE": {% include tableau-json.html tableau=include.repartition.ETRE_SENSIBILISE %},
      "REAGIR": {% include tableau-json.html tableau=include.repartition.REAGIR %},
      "SE_FORMER": {% include tableau-json.html tableau=include.repartition.SE_FORMER %},
      "SECURISER": {% include tableau-json.html tableau=include.repartition.SECURISER %},
      "TOUS": {% include tableau-json.html tableau=include.repartition.TOUS %}
    }
    {% endif %}
  }
</script>
