name: Déploiement WebComponent demande de diag
permissions: {}

on:
  workflow_dispatch: # Pour activer le déclenchement manuel

jobs:
  deploiement:
    runs-on: ubuntu-latest
    name: WebComponent Demande de diag
    environment: WEB_COMPONENTS
    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configurer Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Installe pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.24.0

      - name: Récupérer la version
        run: echo release_version=$(pnpm -F demande-diag exec node -p "require('./package.json').version") >> $GITHUB_ENV

      - name: Construis la lib
        env:
          VERSION: ${{ env.release_version }}
        run: |
          pnpm install --frozen-lockfile
          pnpm --filter demande-diag build:demo
          pnpm --filter demande-diag build:prod

      - name: Installer et configurer la CLI de S3cmd
        uses: s3-actions/s3cmd@v1.10.0
        with:
          provider: clevercloud
          access_key: ${{ secrets.CLEVER_S3_ACCESS_KEY }}
          secret_key: ${{ secrets.CLEVER_S3_SECRET_KEY }}

      - name: Envoyer les fichiers en démo
        run: |
          s3cmd put --acl-public --mime-type='application/javascript' ./demande-diag/dist-demo/demande-diag.iife.js s3://messervicescyber-web-components/${{ env.release_version }}/demo/
          s3cmd put --acl-public --mime-type='text/css' ./demande-diag/dist-demo/demande-diag.css s3://messervicescyber-web-components/${{ env.release_version }}/demo/
          s3cmd put --acl-public --mime-type='text/plain' ./demande-diag/dist-demo/demande-diag.php s3://messervicescyber-web-components/${{ env.release_version }}/demo/

      - name: Envoyer les fichiers en prod
        run: |
          s3cmd put --acl-public --mime-type='application/javascript' ./demande-diag/dist-prod/demande-diag.iife.js s3://messervicescyber-web-components/${{ env.release_version }}/prod/
          s3cmd put --acl-public --mime-type='text/css' ./demande-diag/dist-prod/demande-diag.css s3://messervicescyber-web-components/${{ env.release_version }}/prod/
          s3cmd put --acl-public --mime-type='text/plain' ./demande-diag/dist-prod/demande-diag.php s3://messervicescyber-web-components/${{ env.release_version }}/prod/
