name: Déploiement
run-name: Déploiement du commit "${{ github.event.head_commit.message }}"
permissions: {}

on:
  push:
    branches: [main]
  workflow_dispatch: # Pour activer le déclenchement manuel

jobs:
  deploiement-demo-node:
    name: "Déploiement"
    uses: ./.github/workflows/deploiement-node.yml
    with:
      nom: Démo
      environnement: DEMO_NODE
    secrets: inherit

  deploiement-prod-node:
    name: "Déploiement"
    uses: ./.github/workflows/deploiement-node.yml
    needs: [ deploiement-demo-node ]
    with:
      nom: Production
      environnement: PROD_NODE
    secrets: inherit
