name: L'intégration continue
permissions: {}

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Construction du site

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Utilise la version Node.js 23
        uses: actions/setup-node@v4
        with:
          node-version: 23

      - name: Installe pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.24.0

      - name: (TOUS) Installe les dépendances
        run: pnpm install --frozen-lockfile

      - name: Exécute les tests
        run: pnpm test

      - name: (CONSTRUCTION) Construis le site via Docker
        run: docker build --target build-le-site -t anssi-portail-site .

      - name: (CONSTRUCTION) Construis le back via Docker
        run: docker build --target build-le-back -t anssi-portail-back .
