name: L'intégration continue
permissions: { }

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Construction du site
    runs-on: ubuntu-latest
    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4

      - name: Configurer Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - name: Installe pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.24.0

      - name: (TOUS) Installe les dépendances
        run: pnpm install --frozen-lockfile

      - name: Exécute les tests
        run: pnpm test

      - name: Construis le back
        run: pnpm --filter @anssi-portail/back build

      - name: Construis la lib Svelte
        run: pnpm --filter @anssi-portail/svelte build

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.276.0
        with:
          ruby-version: '3.2'
          bundler-cache: true
          cache-version: 0
          working-directory: ./front

      - name: Construis avec Jekyll
        run: |
          bundle config set --local path './front/vendor/bundle'
          bundle exec --gemfile=./front/Gemfile jekyll build -s ./front -d ./front/_site
        env:
          JEKYLL_ENV: production
